<div id="image" class="small-centered small-12 medium-9 column text-center image-preview margin-bottom">
  <figure>
    <%= image_tag image.attachment.url(version),
                  class: image_class(image),
                  alt: image.title.unicode_normalize,
                  title: image.title.unicode_normalize %>
    <% if show_caption %>
      <figcaption class="text-center">
        <em><%= image.title.unicode_normalize %></em>
      </figcaption>
    <% end %>
  </figure>
</div>
