<h2><%= @projekt.name %>  </h2>



<div class="tabs-content" data-tabs-content="edit-projekt-tabs">
  <%= render "custom/admin/projekts/edit/edit_projekt_filter_subnav" %>

  <div class="tabs-panel is-active" id="tab-projekt-configuration">
    <%= render partial: 'custom/admin/projekts/edit/projekt_phases' %>
  </div>

  <div class="tabs-panel" id="tab-projekts-settings">
    <%# render "projekts_settings_tab" %>
  </div>
</div>
