<div class='small-12 column'>
  <% projekt_questions.each do |question| %>
    <div class="debate-block projekt-question-list-item margin-bottom">
      <div class="debate-title">
        <h4><%= link_to question.title, projekt_projekt_question_path(projekt, question.id, format: :js), class: 'js-projekt-question-next' %></h4>
      </div>
      <div class="debate-meta">
        <span class="projet-question-list-item-answers-count">
          <i class="fas fa-poll-h"></i>
          <%= t('custom.projekts.projekt_questions.answers_count', count: question.answers_count) %>
        </span>
         ·
        <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments">
          <%= link_to t("custom.projekts.projekt_questions.comments_count", count: question.comments.count), projekt_projekt_question_path(projekt, question.id, format: :js, anchor: 'comments'), class: 'js-projekt-question-next' %>
        </span> · <span class="debate-date"><%= format_date question.created_at %></span>
      </div>
    </div>
  <% end %>
</div>
