<% projekt_questions.each do |question| %>
  <div class="debate-block projekt-question-list-item margin-bottom">
    <div class="debate-type">
      <%= t("legislation.questions.question.debate") %> <span class="icon-debates" aria-hidden="true"></span>
    </div>
    <div class="debate-title">
      <h4><%= link_to question.title, projekt_projekt_question_path(projekt, question.id, format: :js), class: 'js-projekt-question-next' %></h4>
    </div>
    <div class="debate-meta">
      <span class="icon-comments" aria-hidden="true"></span> <span class="debate-comments">
        <%= link_to t("legislation.questions.question.comments", count: question.comments.count), projekt_projekt_question_path(projekt, question.id, format: :js), class: 'js-projekt-question-next' %>
      </span> · <span class="debate-date"><%= format_date question.created_at %></span>
    </div>
  </div>
<% end %>
