<div>
  <% if current_user && current_user.email.in?(@partner_emails) %>
    <%= link_to '#', class: 'button hollow expanded js-copy-source-button', data: { target: '#page-content' } do %>
      <i class="fas fa-code"></i>
      <%= t('custom.projekts.page.sidebar.admin_controls.copy_code') %>
    <% end %>
  <% end %>

  <%= link_to t('custom.projekts.page.sidebar.admin_controls.edit_projekt'), edit_admin_projekt_path(@projekt), class: 'button hollow expanded' %>

  <%= link_to t('custom.projekts.page.sidebar.admin_controls.edit_projekt_page'), edit_admin_site_customization_page_path(@projekt.page, origin: 'public_page'), class: 'button hollow expanded' %>
</div>
