<div>
  <%= link_to t('custom.projekts.page.sidebar.admin_controls.edit_projekt'), edit_admin_projekt_path(@projekt), class: 'button hollow expanded' %>
  <%= link_to t('custom.projekts.page.sidebar.admin_controls.edit_projekt_page'), edit_admin_site_customization_page_path(@projekt.page, origin: 'public_page'), class: 'button hollow expanded' %>
</div>
