<% if projekt.top_parent.children.any? %>

  <div class="sidebar-divider"></div>

  <h2 class="sidebar-title"><%= t("custom.projekt.page.sidebar.navigator.title") %></h2>

  <%= render partial: 'pages/sidebar/projekt_list', locals: { projekts: [projekt.top_parent], current_projekt: projekt } %>

<% end %>
