<div class="sidebar-divider show-for-medium"></div>

<h2 class="sidebar-title show-for-medium"><%= t("custom.projekts.page.sidebar.navigator.title") %></h2>

<div class='show-for-medium'>
  <%= render partial: 'pages/sidebar/projekt_list', locals: { projekts: [projekt.top_parent], current_projekt: projekt } %>
</div>
