<div class="sidebar-divider"></div>

<h2 class="sidebar-title"><%= t("custom.projekt.page.sidebar.navigator.title") %></h2>

<%= render partial: 'pages/sidebar/projekt_list', locals: { projekts: Projekt.top_level.current, current_projekt: projekt } %>
