<div class='projekt-name'>
  <i class="fas fa-<%= debate.projekt.icon || "circle" %>" ></i>
  <%= link_to debate.projekt.name, debate.projekt %>
</div>

<div class='show-for-large'>
  <% unless debate.author.name.blank? %>
    <%= t('custom.debates.index.debate.by') %>
    <%= debate.author.name %>
  <% end %>
</div>
