<div class='projekt-name'>
  <%= link_to_projekt_page(debate.projekt) %>
</div>

<div class='show-for-large'>
  <% unless debate.author.name.blank? %>
    <%= t('custom.debates.index.debate.by') %>
    <%= link_to debate.author.name, debate.author %>
  <% end %>
</div>
