<div class="reveal" id='model-question-<%= answer.id %>' data-reveal>

  <div class="small-12 column end answer <%= cycle("first", "") %>" id="answer_<%= answer.id %>">
    <%= render partial: 'polls/questions/answer_more_info', locals: { answer: answer } %>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
