.breadcrumbs-item,
.breadcrumbs-item-active,
.breadcrumbs-divider {
  display: inline-block;
  font-size: .75em;
}

.breadcrumbs-item-active {
  color: #06408E;
  cursor: pointer;
}

.breadcrumbs-divider {
  color: #87A3C9;
}
