.breadcrumbs-item,
.breadcrumbs-item-active,
.breadcrumbs-divider {
  display: inline-block;
}

.custom-breadcrumbs {
  .breadcrumbs-item, .breadcrumbs-divider {
    margin-right: 0.25rem;
    font-size: .75rem;
  }

  .breadcrumbs-divider {
    color: #87A3C9;
  }
}

.projekt-bar {
  .custom-breadcrumbs {
    .breadcrumbs-item, .breadcrumbs-divider {
      margin-right: 0.25rem;
      font-size: .9rem;
    }

    .breadcrumbs-divider {
      color: inherit;
      margin: 0 .5rem;
    }
  }
}
