#footer-content .phases-list {
  border: none;
  margin-bottom: 4rem;

  .phase-title {
    background-color: $highlight;
    clip-path: polygon(calc(100% - 3em) 0, 100% 50%, calc(100% - 3em) 100%, 0 100%, 3em 50%, 0 0);
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: -40px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    &.current-phase-tab {
      background-color: $brand;

      .phase-name,
      .phase-date-range {
        color: $white;
      }
    }
  }

  .phase-title:first-child {
    clip-path: polygon(calc(100% - 3em) 0, 100% 50%, calc(100% - 3em) 100%, 0 100%, 0em 50%, 0 0);
    padding-left: 1rem;
  }

  .phase-name {
    font-weight: bold;
    color: $brand;
  }

  .phase-date-range {
    font-size: 0.875rem;
  }
}

#footer-content {
  #budgets ul.tabs {
    background: initial;
  }
}

.expanded.jumbo-budget.budget-heading {
  min-height: auto;
}

.budget-investment-new aside {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


// Investment partial

.budget-investment {
  .callout {
    padding: 0.5rem 1rem;
  }

  .no-button {
    margin-top: 0;
  }

  .supports {
    padding: 0.5rem 0;

    .total-supports.price {
      font-size: 24px;
    }

    .investment-project-amount {
      font-size: 24px;
      text-align: center;
    }

    .remove {
      .icon-check-circle {
        display: none;
      }

      .investment-project-amount:before {
        content: "\f058";
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
      }
    }

    .button-remove-support {
      margin-top: 0.75rem;
    }
  }
}


// Sidebar

#budgets-sidebar {
  .ballot-list li {
    background-color: white;
  }

  #categories {
    display: none;
  }
}


// Budget heading

@media screen and (min-width: 75em) {
  .budget-heading {
    @include full-width-background;
  }
}
