.comment-list .comment-body {
  background: #f8f8f8;
}

.comment-list,
.comment-list .comment-list {
  border-left: 2px solid lightgray;
  padding-left: 2rem;
}

.comment-body .comment-user.is-admin {
  background: #F7EED0;
}
