ul#deficiency-report-categories-sidebar-filter {
	list-style-type: none;
  margin-bottom: 0;
  margin-left: 20px;


  .checkmark {
    position: absolute;
    top: 5px;
    left: -19px;
    height: 14px;
    width: 14px;
    border: 1.5px solid #C6C6C6;
    border-radius: 2px;
  }

  label {
    position: relative;
    cursor: pointer;
    position: relative;
    color: #878787;
    margin-right: 2em;
  }

	input[type='checkbox'] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input[type='checkbox']:checked ~ .checkmark {
    background: #878787;
    border: 1.5px solid #878787;
  }

	input[type='checkbox']:checked ~ .checkmark:before {
    display: block;
  }

	.checkmark:before {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: 1.5px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

ul#deficiency-report-statuses-sidebar-filter {

  list-style-type: none;
  margin-bottom: 0;

  label {
    cursor: pointer;
    position: relative;
    color: #878787;
    margin-right: 2em;
  }

  li.label-selected label {
    color: $brand;
    font-weight: bold;
  }

  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    left: -19px;
    top: 0;
  }

  .checkmark::before {
     content: "\f111";
     font-family: 'Font Awesome 5 Free';
     font-weight: normal;
  }

  input:checked ~ .checkmark::before {
     content: "\f192";
  }
}

.admin-deficiency-report-category-icons-selector,
.admin-deficiency-report-status-icons-selector {
  column-count: 5;

  label > [type='radio'] {
    margin-top: 1px;
  }
}

.deficiency-report-official-answer {
  margin-top: 3em;
  border-top: 1px solid;
  padding-top: 2em;
  margin-bottom: 3em;
}

.approve-defficiciency-report-button {
  margin-top: 1rem;
}


// Deficiency report map markers

.map .map-marker .map-icon.traffic-light::after,
.map .map-marker .map-icon.map-signs::after,
.map .map-marker .map-icon.chair::after,
.map .map-marker .map-icon.bicycle::after,
.map .map-marker .map-icon.child::after,
.map .map-marker .map-icon.leaf::after,
.map .map-marker .map-icon.lightbulb::after,
.map .map-marker .map-icon.trash-alt::after,
.map .map-marker .map-icon.tree::after,
.map .map-marker .map-icon.shower::after,
.map .map-marker .map-icon.landmark::after {
  font-family: "Font Awesome 5 Free";
  font-weight:  bold;
  color: $white;
  background: none;
  transform: rotate(45deg);
}

.map .map-marker .map-icon.traffic-light::after {
  content: "\f637";
}

.map .map-marker .map-icon.map-signs::after {
  content: "\f277";
}

.map .map-marker .map-icon.chair::after {
  content: "\f6c0";
}

.map .map-marker .map-icon.bicycle::after {
  content: "\f206";
}

.map .map-marker .map-icon.child::after {
  content: "\f1ae";
}

.map .map-marker .map-icon.leaf::after {
  content: "\f06c";
}

.map .map-marker .map-icon.lightbulb::after {
  content: "\f0eb";
}

.map .map-marker .map-icon.trash-alt::after {
  content: "\f2ed";
}

.map .map-marker .map-icon.tree::after {
  content: "\f1bb";
}

.map .map-marker .map-icon.shower::after {
  content: "\f2cc";
}

.map .map-marker .map-icon.landmark::after {
  content: "\f66f";
}
