// setup_project
// Dropdown

#navigation_bar {

  li.nav-element-projekt:hover > ul.flyout-projekts {
    display: block;
  }

  ul.flyout-projekts {
    left: 100%;
    top: -1px;
    display: none;
    position: absolute;
  }

  li.static-projekt > ul.flyout-projekts {
    left: 0;
    top: 100%;
  }

  li {
    position: relative;
    z-index: 1;
  }

  li.flyout-projekt {
    width: 300px;
    background: #ececec;
    padding-left: 1em;
    border-top: 1px solid $brand;
    border-bottom: 1px solid $brand;
    display: flex;
    justify-content: space-between;
  }

  li.flyout-projekt ~ li.flyout-projekt {
    border-top: none;
  }

  .projekt-name {
    color: #222;
    font-weight: bold;
    position: relative;
    line-height: 3rem;
  }

  li.flyout-projekt > .projekt-name {
    width: 67%;
  }

  .projekt-modules-icons {
    padding-top: 15px;
    padding-right: 1em;
    display: flex;
    justify-content: flex-end;

    .module-icon-link {
      display: inline-block;
      line-height: initial;
    }

    .module-icon {
      width: 20px;
    }
  }
}
