// setup_project
// Dropdown

#navigation_bar {


  // Styling navigation items

  li.nav-element:hover > ul.nav-flyout-block {
    display: block;
  }

  ul.nav-flyout-block {
    left: 100%;
    top: -1px;
    display: none;
    position: absolute;
  }

  li.nav-element.top-level-item > ul.nav-flyout-block {
    left: 0;
    top: 100%;
  }

  li {
    position: relative;
    z-index: 1;
  }

  li.flyout-item {
    width: 300px;
    background: #ececec;
    padding-left: 1em;
    border-top: 1px solid $brand;
    border-bottom: 1px solid $brand;
    display: flex;
    justify-content: space-between;
  }

  li.flyout-item ~ li.flyout-item {
    border-top: none;
  }

  .flyout-item-name {
    color: #222;
    font-weight: bold;
    position: relative;
    line-height: 3rem;
  }




  // Styling projekts in navigation items

  .projekt-name-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  li.flyout-item > .projekt-name {
    width: 67%;
  }

  .projekt-modules-icons {
    padding-right: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .module-icon-link {
      display: inline-block;
      line-height: initial;
    }

    .module-icon {
      width: 1.25em;
    }
  }
}


// Mobile views

#responsive-menu {

  @media screen and (max-width: 39.9375em) {
		width: 100%;
  }

  li > ul {
    padding-left: 1em;
  }

  li.nav-element > ul {
    display: none;
  }

  .projekt-name-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .projekt-modules-icons {
    padding-right: 1em;
  }

  li.flyout-item > ul {
    padding-right: 0;
  }

  .flyout-item-name,
  .subnavigation a {
    width: 90%;
  }

  .projekt-name-group .flyout-item-name.projekt-name {

    flex-grow: 1;

    a {
      width: 100%;
    }
  }

  .projekt-modules-icons {
    display: flex;
  }

  .top-level-item,
  .flyout-item-name,
  .subnavigation a {
    line-height: 2.4rem;
  }

  .nav-element {
    position: relative;
  }

  .nav-toggle-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
  }

  .top-level-item > .nav-toggle-arrow {
    top: 9px;
    right: 0;
  }

  .flyout-item .nav-toggle-arrow {
    top: 9px;
    right: -15px;
  }

  .nav-toggle-arrow:after {
    border: 0;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: auto;
    position: absolute;
    transition: 0.25s;
  }


  .top-level-item > .nav-toggle-arrow:after {
		top: -9px;
    left: 3px;
  }

  .flyout-item .nav-toggle-arrow:after {
		top: -2px;
    left: 3px;
  }

  li[aria-expanded="true"] > .nav-toggle-arrow::after,
  li[aria-expanded="true"] > .projekt-name-group > .nav-toggle-arrow::after {
    transform: rotate(180deg)
  }

  li.nav-element[aria-expanded="true"] > ul {
    display: block;
  }


}
