.gdpr-notice {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: lighten($brand, 70%);
  border-top: 1px solid $brand;
  padding: 2em 0;

  @media screen and (min-width: 40em) {
    padding: 2em 20%;
  }
}
