.icon-ad::before {
  content: "\f641";
}

.icon-address-book::before {
  content: "\f2b9";
}

.icon-address-card::before {
  content: "\f2bb";
}

.icon-adjust::before {
  content: "\f042";
}

.icon-air-freshener::before {
  content: "\f5d0";
}

.icon-align-center::before {
  content: "\f037";
}

.icon-align-justify::before {
  content: "\f039";
}

.icon-align-left::before {
  content: "\f036";
}

.icon-align-right::before {
  content: "\f038";
}

.icon-allergies::before {
  content: "\f461";
}

.icon-ambulance::before {
  content: "\f0f9";
}

.icon-american-sign-language-interpreting::before {
  content: "\f2a3";
}

.icon-anchor::before {
  content: "\f13d";
}

.icon-angle-double-down::before {
  content: "\f103";
}

.icon-angle-double-left::before {
  content: "\f100";
}

.icon-angle-double-right::before {
  content: "\f101";
}

.icon-angle-double-up::before {
  content: "\f102";
}

.icon-angle-down::before {
  content: "\f107";
}

.icon-angle-left::before {
  content: "\f104";
}

.icon-angle-right::before {
  content: "\f105";
}

.icon-angle-up::before {
  content: "\f106";
}

.icon-angry::before {
  content: "\f556";
}

.icon-ankh::before {
  content: "\f644";
}

.icon-apple-alt::before {
  content: "\f5d1";
}

.icon-archive::before {
  content: "\f187";
}

.icon-archway::before {
  content: "\f557";
}

.icon-arrow-alt-circle-down::before {
  content: "\f358";
}

.icon-arrow-alt-circle-left::before {
  content: "\f359";
}

.icon-arrow-alt-circle-right::before {
  content: "\f35a";
}

.icon-arrow-alt-circle-up::before {
  content: "\f35b";
}

.icon-arrow-circle-down::before {
  content: "\f0ab";
}

.icon-arrow-circle-left::before {
  content: "\f0a8";
}

.icon-arrow-circle-right::before {
  content: "\f0a9";
}

.icon-arrow-circle-up::before {
  content: "\f0aa";
}

.icon-arrow-down::before {
  content: "\f063";
}

.icon-arrow-left::before {
  content: "\f060";
}

.icon-arrow-right::before {
  content: "\f061";
}

.icon-arrow-up::before {
  content: "\f062";
}

.icon-arrows-alt::before {
  content: "\f0b2";
}

.icon-arrows-alt-h::before {
  content: "\f337";
}

.icon-arrows-alt-v::before {
  content: "\f338";
}

.icon-assistive-listening-systems::before {
  content: "\f2a2";
}

.icon-asterisk::before {
  content: "\f069";
}

.icon-at::before {
  content: "\f1fa";
}

.icon-atlas::before {
  content: "\f558";
}

.icon-atom::before {
  content: "\f5d2";
}

.icon-audio-description::before {
  content: "\f29e";
}

.icon-award::before {
  content: "\f559";
}

.icon-baby::before {
  content: "\f77c";
}

.icon-baby-carriage::before {
  content: "\f77d";
}

.icon-backspace::before {
  content: "\f55a";
}

.icon-backward::before {
  content: "\f04a";
}

.icon-bacon::before {
  content: "\f7e5";
}

.icon-bacteria::before {
  content: "\e059";
}

.icon-bacterium::before {
  content: "\e05a";
}

.icon-bahai::before {
  content: "\f666";
}

.icon-balance-scale::before {
  content: "\f24e";
}

.icon-balance-scale-left::before {
  content: "\f515";
}

.icon-balance-scale-right::before {
  content: "\f516";
}

.icon-ban::before {
  content: "\f05e";
}

.icon-band-aid::before {
  content: "\f462";
}

.icon-barcode::before {
  content: "\f02a";
}

.icon-bars::before {
  content: "\f0c9";
}

.icon-baseball-ball::before {
  content: "\f433";
}

.icon-battery-empty::before {
  content: "\f244";
}

.icon-battery-quarter::before {
  content: "\f243";
}

.icon-battery-half::before {
  content: "\f242";
}

.icon-battery-three-quarters::before {
  content: "\f241";
}

.icon-battery-full::before {
  content: "\f240";
}

.icon-biking::before {
  content: "\f84a";
}

.icon-feather::before {
  content: "\f52d";
}

.icon-feather-alt::before {
  content: "\f56b";
}

.icon-female::before {
  content: "\f182";
}

.icon-fighter-jet::before {
  content: "\f0fb";
}

.icon-file::before {
  content: "\f15b";
}

.icon-file-alt::before {
  content: "\f15c";
}

.icon-file-archive::before {
  content: "\f1c6";
}

.icon-file-audio::before {
  content: "\f1c7";
}

.icon-file-code::before {
  content: "\f1c9";
}

.icon-file-contract::before {
  content: "\f56c";
}

.icon-file-csv::before {
  content: "\f6dd";
}

.icon-file-download::before {
  content: "\f56d";
}

.icon-file-excel::before {
  content: "\f1c3";
}

.icon-file-export::before {
  content: "\f56e";
}

.icon-file-image::before {
  content: "\f1c5";
}

.icon-file-import::before {
  content: "\f56f";
}

.icon-file-invoice::before {
  content: "\f570";
}

.icon-file-invoice-dollar::before {
  content: "\f571";
}

.icon-file-medical::before {
  content: "\f477";
}

.icon-file-medical-alt::before {
  content: "\f478";
}

.icon-file-pdf::before {
  content: "\f1c1";
}

.icon-file-powerpoint::before {
  content: "\f1c4";
}

.icon-file-prescription::before {
  content: "\f572";
}

.icon-file-signature::before {
  content: "\f573";
}

.icon-file-upload::before {
  content: "\f574";
}

.icon-file-video::before {
  content: "\f1c8";
}

.icon-file-word::before {
  content: "\f1c2";
}

.icon-fill::before {
  content: "\f575";
}

.icon-fill-drip::before {
  content: "\f576";
}

.icon-film::before {
  content: "\f008";
}

.icon-filter::before {
  content: "\f0b0";
}

.icon-fingerprint::before {
  content: "\f577";
}

.icon-fire::before {
  content: "\f06d";
}

.icon-fire-alt::before {
  content: "\f7e4";
}

.icon-fire-extinguisher::before {
  content: "\f134";
}

.icon-first-aid::before {
  content: "\f479";
}

.icon-fish::before {
  content: "\f578";
}

.icon-fist-raised::before {
  content: "\f6de";
}

.icon-flag::before {
  content: "\f024";
}

.icon-flag-checkered::before {
  content: "\f11e";
}

.icon-flag-usa::before {
  content: "\f74d";
}

.icon-flask::before {
  content: "\f0c3";
}

.icon-flushed::before {
  content: "\f579";
}

.icon-folder::before {
  content: "\f07b";
}

.icon-folder-minus::before {
  content: "\f65d";
}

.icon-folder-open::before {
  content: "\f07c";
}

.icon-folder-plus::before {
  content: "\f65e";
}

.icon-font::before {
  content: "\f031";
}

.icon-football-ball::before {
  content: "\f44e";
}

.icon-forward::before {
  content: "\f04e";
}

.icon-frog::before {
  content: "\f52e";
}

.icon-frown::before {
  content: "\f119";
}

.icon-frown-open::before {
  content: "\f57a";
}

.icon-funnel-dollar::before {
  content: "\f662";
}

.icon-futbol::before {
  content: "\f1e3";
}

.icon-gamepad::before {
  content: "\f11b";
}

.icon-gas-pump::before {
  content: "\f52f";
}

.icon-gavel::before {
  content: "\f0e3";
}

.icon-gem::before {
  content: "\f3a5";
}

.icon-genderless::before {
  content: "\f22d";
}

.icon-ghost::before {
  content: "\f6e2";
}

.icon-gift::before {
  content: "\f06b";
}

.icon-gifts::before {
  content: "\f79c";
}

.icon-glass-cheers::before {
  content: "\f79f";
}

.icon-glass-martini::before {
  content: "\f000";
}

.icon-glass-martini-alt::before {
  content: "\f57b";
}

.icon-glass-whiskey::before {
  content: "\f7a0";
}

.icon-glasses::before {
  content: "\f530";
}

.icon-globe::before {
  content: "\f0ac";
}

.icon-globe-africa::before {
  content: "\f57c";
}

.icon-globe-americas::before {
  content: "\f57d";
}

.icon-globe-asia::before {
  content: "\f57e";
}

.icon-globe-europe::before {
  content: "\f7a2";
}

.icon-golf-ball::before {
  content: "\f450";
}

.icon-gopuram::before {
  content: "\f664";
}

.icon-graduation-cap::before {
  content: "\f19d";
}

.icon-greater-than::before {
  content: "\f531";
}

.icon-greater-than-equal::before {
  content: "\f532";
}

.icon-grimace::before {
  content: "\f57f";
}

.icon-grin::before {
  content: "\f580";
}

.icon-grin-alt::before {
  content: "\f581";
}

.icon-grin-beam::before {
  content: "\f582";
}

.icon-grin-beam-sweat::before {
  content: "\f583";
}

.icon-grin-hearts::before {
  content: "\f584";
}

.icon-grin-squint::before {
  content: "\f585";
}

.icon-grin-squint-tears::before {
  content: "\f586";
}

.icon-grin-stars::before {
  content: "\f587";
}

.icon-grin-tears::before {
  content: "\f588";
}

.icon-grin-tongue::before {
  content: "\f589";
}

.icon-grin-tongue-squint::before {
  content: "\f58a";
}

.icon-grin-tongue-wink::before {
  content: "\f58b";
}

.icon-grin-wink::before {
  content: "\f58c";
}

.icon-grip-horizontal::before {
  content: "\f58d";
}

.icon-grip-lines::before {
  content: "\f7a4";
}

.icon-grip-lines-vertical::before {
  content: "\f7a5";
}

.icon-grip-vertical::before {
  content: "\f58e";
}

.icon-guitar::before {
  content: "\f7a6";
}

.icon-h-square::before {
  content: "\f0fd";
}

.icon-hamburger::before {
  content: "\f805";
}

.icon-hammer::before {
  content: "\f6e3";
}

.icon-hamsa::before {
  content: "\f665";
}

.icon-hand-holding::before {
  content: "\f4bd";
}

.icon-hand-holding-heart::before {
  content: "\f4be";
}

.icon-hand-holding-medical::before {
  content: "\e05c";
}

.icon-hand-holding-usd::before {
  content: "\f4c0";
}

.icon-hand-holding-water::before {
  content: "\f4c1";
}

.icon-hand-lizard::before {
  content: "\f258";
}

.icon-hand-middle-finger::before {
  content: "\f806";
}

.icon-hand-paper::before {
  content: "\f256";
}

.icon-hand-peace::before {
  content: "\f25b";
}

.icon-hand-point-down::before {
  content: "\f0a7";
}

.icon-hand-point-left::before {
  content: "\f0a5";
}

.icon-hand-point-right::before {
  content: "\f0a4";
}

.icon-hand-point-up::before {
  content: "\f0a6";
}

.icon-hand-pointer::before {
  content: "\f25a";
}

.icon-hand-rock::before {
  content: "\f255";
}

.icon-hand-scissors::before {
  content: "\f257";
}

.icon-hand-sparkles::before {
  content: "\e05d";
}

.icon-hand-spock::before {
  content: "\f259";
}

.icon-hands::before {
  content: "\f4c2";
}

.icon-hands-helping::before {
  content: "\f4c4";
}

.icon-hands-wash::before {
  content: "\e05e";
}

.icon-handshake::before {
  content: "\f2b5";
}

.icon-handshake-alt-slash::before {
  content: "\e05f";
}

.icon-handshake-slash::before {
  content: "\e060";
}

.icon-hanukiah::before {
  content: "\f6e6";
}

.icon-hard-hat::before {
  content: "\f807";
}

.icon-hashtag::before {
  content: "\f292";
}

.icon-hat-cowboy::before {
  content: "\f8c0";
}

.icon-hat-cowboy-side::before {
  content: "\f8c1";
}

.icon-hat-wizard::before {
  content: "\f6e8";
}

.icon-hdd::before {
  content: "\f0a0";
}

.icon-head-side-cough::before {
  content: "\e061";
}

.icon-head-side-cough-slash::before {
  content: "\e062";
}

.icon-head-side-mask::before {
  content: "\e063";
}

.icon-head-side-virus::before {
  content: "\e064";
}

.icon-heading::before {
  content: "\f1dc";
}

.icon-headphones::before {
  content: "\f025";
}

.icon-headphones-alt::before {
  content: "\f58f";
}

.icon-headset::before {
  content: "\f590";
}

.icon-heart::before {
  content: "\f004";
}

.icon-heart-broken::before {
  content: "\f7a9";
}

.icon-heartbeat::before {
  content: "\f21e";
}

.icon-helicopter::before {
  content: "\f533";
}

.icon-highlighter::before {
  content: "\f591";
}

.icon-hiking::before {
  content: "\f6ec";
}

.icon-hippo::before {
  content: "\f6ed";
}

.icon-history::before {
  content: "\f1da";
}

.icon-hockey-puck::before {
  content: "\f453";
}

.icon-holly-berry::before {
  content: "\f7aa";
}

.icon-home::before {
  content: "\f015";
}

.icon-horse::before {
  content: "\f6f0";
}

.icon-horse-head::before {
  content: "\f7ab";
}

.icon-hospital::before {
  content: "\f0f8";
}

.icon-hospital-alt::before {
  content: "\f47d";
}

.icon-hospital-symbol::before {
  content: "\f47e";
}

.icon-hospital-user::before {
  content: "\f80d";
}

.icon-hot-tub::before {
  content: "\f593";
}

.icon-hotdog::before {
  content: "\f80f";
}

.icon-hotel::before {
  content: "\f594";
}

.icon-hourglass::before {
  content: "\f254";
}

.icon-hourglass-end::before {
  content: "\f253";
}

.icon-hourglass-half::before {
  content: "\f252";
}

.icon-hourglass-start::before {
  content: "\f251";
}

.icon-house-damage::before {
  content: "\f6f1";
}

.icon-house-user::before {
  content: "\e065";
}

.icon-hryvnia::before {
  content: "\f6f2";
}

.icon-i-cursor::before {
  content: "\f246";
}

.icon-ice-cream::before {
  content: "\f810";
}

.icon-icicles::before {
  content: "\f7ad";
}

.icon-icons::before {
  content: "\f86d";
}

.icon-id-badge::before {
  content: "\f2c1";
}

.icon-id-card::before {
  content: "\f2c2";
}

.icon-id-card-alt::before {
  content: "\f47f";
}

.icon-igloo::before {
  content: "\f7ae";
}

.icon-image::before {
  content: "\f03e";
}

.icon-images::before {
  content: "\f302";
}

.icon-inbox::before {
  content: "\f01c";
}

.icon-indent::before {
  content: "\f03c";
}

.icon-industry::before {
  content: "\f275";
}

.icon-infinity::before {
  content: "\f534";
}

.icon-info::before {
  content: "\f129";
}

.icon-info-circle::before {
  content: "\f05a";
}

.icon-italic::before {
  content: "\f033";
}

.icon-jedi::before {
  content: "\f669";
}

.icon-joint::before {
  content: "\f595";
}

.icon-journal-whills::before {
  content: "\f66a";
}

.icon-kaaba::before {
  content: "\f66b";
}

.icon-key::before {
  content: "\f084";
}

.icon-keyboard::before {
  content: "\f11c";
}

.icon-khanda::before {
  content: "\f66d";
}

.icon-kiss::before {
  content: "\f596";
}

.icon-kiss-beam::before {
  content: "\f597";
}

.icon-kiss-wink-heart::before {
  content: "\f598";
}

.icon-kiwi-bird::before {
  content: "\f535";
}

.icon-landmark::before {
  content: "\f66f";
}

.icon-language::before {
  content: "\f1ab";
}

.icon-laptop::before {
  content: "\f109";
}

.icon-laptop-code::before {
  content: "\f5fc";
}

.icon-laptop-house::before {
  content: "\e066";
}

.icon-laptop-medical::before {
  content: "\f812";
}

.icon-laugh::before {
  content: "\f599";
}

.icon-laugh-beam::before {
  content: "\f59a";
}

.icon-laugh-squint::before {
  content: "\f59b";
}

.icon-laugh-wink::before {
  content: "\f59c";
}

.icon-layer-group::before {
  content: "\f5fd";
}

.icon-leaf::before {
  content: "\f06c";
}

.icon-lemon::before {
  content: "\f094";
}

.icon-less-than::before {
  content: "\f536";
}

.icon-less-than-equal::before {
  content: "\f537";
}

.icon-level-down-alt::before {
  content: "\f3be";
}

.icon-level-up-alt::before {
  content: "\f3bf";
}

.icon-life-ring::before {
  content: "\f1cd";
}

.icon-lightbulb::before {
  content: "\f0eb";
}

.icon-link::before {
  content: "\f0c1";
}

.icon-lira-sign::before {
  content: "\f195";
}

.icon-list::before {
  content: "\f03a";
}

.icon-list-alt::before {
  content: "\f022";
}

.icon-list-ol::before {
  content: "\f0cb";
}

.icon-list-ul::before {
  content: "\f0ca";
}

.icon-location-arrow::before {
  content: "\f124";
}

.icon-lock::before {
  content: "\f023";
}

.icon-lock-open::before {
  content: "\f3c1";
}

.icon-long-arrow-alt-down::before {
  content: "\f309";
}

.icon-long-arrow-alt-left::before {
  content: "\f30a";
}

.icon-long-arrow-alt-right::before {
  content: "\f30b";
}

.icon-long-arrow-alt-up::before {
  content: "\f30c";
}

.icon-low-vision::before {
  content: "\f2a8";
}

.icon-luggage-cart::before {
  content: "\f59d";
}

.icon-lungs::before {
  content: "\f604";
}

.icon-lungs-virus::before {
  content: "\e067";
}

.icon-magic::before {
  content: "\f0d0";
}

.icon-magnet::before {
  content: "\f076";
}

.icon-mail-bulk::before {
  content: "\f674";
}

.icon-male::before {
  content: "\f183";
}

.icon-map::before {
  content: "\f279";
}

.icon-map-marked::before {
  content: "\f59f";
}

.icon-map-marked-alt::before {
  content: "\f5a0";
}

.icon-map-marker::before {
  content: "\f041";
}

.icon-map-marker-alt::before {
  content: "\f3c5";
}

.icon-map-pin::before {
  content: "\f276";
}

.icon-map-signs::before {
  content: "\f277";
}

.icon-marker::before {
  content: "\f5a1";
}

.icon-mars::before {
  content: "\f222";
}

.icon-mars-double::before {
  content: "\f227";
}

.icon-mars-stroke::before {
  content: "\f229";
}

.icon-mars-stroke-h::before {
  content: "\f22b";
}

.icon-mars-stroke-v::before {
  content: "\f22a";
}

.icon-mask::before {
  content: "\f6fa";
}

.icon-medal::before {
  content: "\f5a2";
}

.icon-medkit::before {
  content: "\f0fa";
}

.icon-meh::before {
  content: "\f11a";
}

.icon-meh-blank::before {
  content: "\f5a4";
}

.icon-meh-rolling-eyes::before {
  content: "\f5a5";
}

.icon-memory::before {
  content: "\f538";
}

.icon-menorah::before {
  content: "\f676";
}

.icon-mercury::before {
  content: "\f223";
}

.icon-meteor::before {
  content: "\f753";
}

.icon-microchip::before {
  content: "\f2db";
}

.icon-microphone::before {
  content: "\f130";
}

.icon-microphone-alt::before {
  content: "\f3c9";
}

.icon-microphone-alt-slash::before {
  content: "\f539";
}

.icon-microphone-slash::before {
  content: "\f131";
}

.icon-microscope::before {
  content: "\f610";
}

.icon-minus::before {
  content: "\f068";
}

.icon-minus-circle::before {
  content: "\f056";
}

.icon-minus-square::before {
  content: "\f146";
}

.icon-mitten::before {
  content: "\f7b5";
}

.icon-mobile::before {
  content: "\f10b";
}

.icon-mobile-alt::before {
  content: "\f3cd";
}

.icon-money-bill::before {
  content: "\f0d6";
}

.icon-money-bill-alt::before {
  content: "\f3d1";
}

.icon-money-bill-wave::before {
  content: "\f53a";
}

.icon-money-bill-wave-alt::before {
  content: "\f53b";
}

.icon-money-check::before {
  content: "\f53c";
}

.icon-money-check-alt::before {
  content: "\f53d";
}

.icon-monument::before {
  content: "\f5a6";
}

.icon-moon::before {
  content: "\f186";
}

.icon-mortar-pestle::before {
  content: "\f5a7";
}

.icon-mosque::before {
  content: "\f678";
}

.icon-motorcycle::before {
  content: "\f21c";
}

.icon-mountain::before {
  content: "\f6fc";
}

.icon-mouse::before {
  content: "\f8cc";
}

.icon-mouse-pointer::before {
  content: "\f245";
}

.icon-mug-hot::before {
  content: "\f7b6";
}

.icon-music::before {
  content: "\f001";
}

.icon-network-wired::before {
  content: "\f6ff";
}

.icon-neuter::before {
  content: "\f22c";
}

.icon-newspaper::before {
  content: "\f1ea";
}

.icon-not-equal::before {
  content: "\f53e";
}

.icon-notes-medical::before {
  content: "\f481";
}

.icon-object-group::before {
  content: "\f247";
}

.icon-object-ungroup::before {
  content: "\f248";
}

.icon-oil-can::before {
  content: "\f613";
}

.icon-om::before {
  content: "\f679";
}

.icon-otter::before {
  content: "\f700";
}

.icon-outdent::before {
  content: "\f03b";
}

.icon-pager::before {
  content: "\f815";
}

.icon-paint-brush::before {
  content: "\f1fc";
}

.icon-paint-roller::before {
  content: "\f5aa";
}

.icon-palette::before {
  content: "\f53f";
}

.icon-pallet::before {
  content: "\f482";
}

.icon-paper-plane::before {
  content: "\f1d8";
}

.icon-paperclip::before {
  content: "\f0c6";
}

.icon-parachute-box::before {
  content: "\f4cd";
}

.icon-paragraph::before {
  content: "\f1dd";
}

.icon-parking::before {
  content: "\f540";
}

.icon-passport::before {
  content: "\f5ab";
}

.icon-pastafarianism::before {
  content: "\f67b";
}

.icon-paste::before {
  content: "\f0ea";
}

.icon-pause::before {
  content: "\f04c";
}

.icon-pause-circle::before {
  content: "\f28b";
}

.icon-paw::before {
  content: "\f1b0";
}

.icon-peace::before {
  content: "\f67c";
}

.icon-pen::before {
  content: "\f304";
}

.icon-pen-alt::before {
  content: "\f305";
}

.icon-pen-fancy::before {
  content: "\f5ac";
}

.icon-pen-nib::before {
  content: "\f5ad";
}

.icon-pen-square::before {
  content: "\f14b";
}

.icon-pencil-alt::before {
  content: "\f303";
}

.icon-pencil-ruler::before {
  content: "\f5ae";
}

.icon-people-arrows::before {
  content: "\e068";
}

.icon-people-carry::before {
  content: "\f4ce";
}

.icon-pepper-hot::before {
  content: "\f816";
}

.icon-percent::before {
  content: "\f295";
}

.icon-percentage::before {
  content: "\f541";
}

.icon-person-booth::before {
  content: "\f756";
}

.icon-phone::before {
  content: "\f095";
}

.icon-phone-alt::before {
  content: "\f879";
}

.icon-phone-slash::before {
  content: "\f3dd";
}

.icon-phone-square::before {
  content: "\f098";
}

.icon-phone-square-alt::before {
  content: "\f87b";
}

.icon-phone-volume::before {
  content: "\f2a0";
}

.icon-photo-video::before {
  content: "\f87c";
}

.icon-piggy-bank::before {
  content: "\f4d3";
}

.icon-pills::before {
  content: "\f484";
}

.icon-pizza-slice::before {
  content: "\f818";
}

.icon-place-of-worship::before {
  content: "\f67f";
}

.icon-plane::before {
  content: "\f072";
}

.icon-plane-arrival::before {
  content: "\f5af";
}

.icon-plane-departure::before {
  content: "\f5b0";
}

.icon-plane-slash::before {
  content: "\e069";
}

.icon-play::before {
  content: "\f04b";
}

.icon-play-circle::before {
  content: "\f144";
}

.icon-plug::before {
  content: "\f1e6";
}

.icon-plus::before {
  content: "\f067";
}

.icon-plus-circle::before {
  content: "\f055";
}

.icon-plus-square::before {
  content: "\f0fe";
}

.icon-podcast::before {
  content: "\f2ce";
}

.icon-poll::before {
  content: "\f681";
}

.icon-poll-h::before {
  content: "\f682";
}

.icon-poo::before {
  content: "\f2fe";
}

.icon-poo-storm::before {
  content: "\f75a";
}

.icon-poop::before {
  content: "\f619";
}

.icon-portrait::before {
  content: "\f3e0";
}

.icon-pound-sign::before {
  content: "\f154";
}

.icon-power-off::before {
  content: "\f011";
}

.icon-pray::before {
  content: "\f683";
}

.icon-praying-hands::before {
  content: "\f684";
}

.icon-prescription::before {
  content: "\f5b1";
}

.icon-prescription-bottle::before {
  content: "\f485";
}

.icon-prescription-bottle-alt::before {
  content: "\f486";
}

.icon-print::before {
  content: "\f02f";
}

.icon-procedures::before {
  content: "\f487";
}

.icon-project-diagram::before {
  content: "\f542";
}

.icon-pump-medical::before {
  content: "\e06a";
}

.icon-pump-soap::before {
  content: "\e06b";
}

.icon-puzzle-piece::before {
  content: "\f12e";
}

.icon-qrcode::before {
  content: "\f029";
}

.icon-question::before {
  content: "\f128";
}

.icon-question-circle::before {
  content: "\f059";
}

.icon-quote-left::before {
  content: "\f10d";
}

.icon-quote-right::before {
  content: "\f10e";
}

.icon-quran::before {
  content: "\f687";
}

.icon-radiation::before {
  content: "\f7b9";
}

.icon-radiation-alt::before {
  content: "\f7ba";
}

.icon-rainbow::before {
  content: "\f75b";
}

.icon-random::before {
  content: "\f074";
}

.icon-receipt::before {
  content: "\f543";
}

.icon-record-vinyl::before {
  content: "\f8d9";
}

.icon-recycle::before {
  content: "\f1b8";
}

.icon-redo::before {
  content: "\f01e";
}

.icon-redo-alt::before {
  content: "\f2f9";
}

.icon-registered::before {
  content: "\f25d";
}

.icon-remove-format::before {
  content: "\f87d";
}

.icon-reply-all::before {
  content: "\f122";
}

.icon-republican::before {
  content: "\f75e";
}

.icon-restroom::before {
  content: "\f7bd";
}

.icon-retweet::before {
  content: "\f079";
}

.icon-ribbon::before {
  content: "\f4d6";
}

.icon-ring::before {
  content: "\f70b";
}

.icon-road::before {
  content: "\f018";
}

.icon-robot::before {
  content: "\f544";
}

.icon-rocket::before {
  content: "\f135";
}

.icon-route::before {
  content: "\f4d7";
}

.icon-rss::before {
  content: "\f09e";
}

.icon-rss-square::before {
  content: "\f143";
}

.icon-ruble-sign::before {
  content: "\f158";
}

.icon-ruler::before {
  content: "\f545";
}

.icon-ruler-combined::before {
  content: "\f546";
}

.icon-ruler-horizontal::before {
  content: "\f547";
}

.icon-ruler-vertical::before {
  content: "\f548";
}

.icon-running::before {
  content: "\f70c";
}

.icon-rupee-sign::before {
  content: "\f156";
}

.icon-sad-cry::before {
  content: "\f5b3";
}

.icon-sad-tear::before {
  content: "\f5b4";
}

.icon-satellite::before {
  content: "\f7bf";
}

.icon-satellite-dish::before {
  content: "\f7c0";
}

.icon-save::before {
  content: "\f0c7";
}

.icon-school::before {
  content: "\f549";
}

.icon-screwdriver::before {
  content: "\f54a";
}

.icon-scroll::before {
  content: "\f70e";
}

.icon-sd-card::before {
  content: "\f7c2";
}

.icon-search::before {
  content: "\f002";
}

.icon-search-dollar::before {
  content: "\f688";
}

.icon-search-location::before {
  content: "\f689";
}

.icon-search-minus::before {
  content: "\f010";
}

.icon-search-plus::before {
  content: "\f00e";
}

.icon-seedling::before {
  content: "\f4d8";
}

.icon-server::before {
  content: "\f233";
}

.icon-shapes::before {
  content: "\f61f";
}

.icon-share::before {
  content: "\f064";
}

.icon-share-alt::before {
  content: "\f1e0";
}

.icon-share-alt-square::before {
  content: "\f1e1";
}

.icon-share-square::before {
  content: "\f14d";
}

.icon-shekel-sign::before {
  content: "\f20b";
}

.icon-shield-alt::before {
  content: "\f3ed";
}

.icon-shield-virus::before {
  content: "\e06c";
}

.icon-ship::before {
  content: "\f21a";
}

.icon-shipping-fast::before {
  content: "\f48b";
}

.icon-shoe-prints::before {
  content: "\f54b";
}

.icon-shopping-bag::before {
  content: "\f290";
}

.icon-shopping-basket::before {
  content: "\f291";
}

.icon-shopping-cart::before {
  content: "\f07a";
}

.icon-shower::before {
  content: "\f2cc";
}

.icon-shuttle-van::before {
  content: "\f5b6";
}

.icon-sign::before {
  content: "\f4d9";
}

.icon-sign-in-alt::before {
  content: "\f2f6";
}

.icon-sign-language::before {
  content: "\f2a7";
}

.icon-sign-out-alt::before {
  content: "\f2f5";
}

.icon-signal::before {
  content: "\f012";
}

.icon-signature::before {
  content: "\f5b7";
}

.icon-sim-card::before {
  content: "\f7c4";
}

.icon-sink::before {
  content: "\e06d";
}

.icon-sitemap::before {
  content: "\f0e8";
}

.icon-skating::before {
  content: "\f7c5";
}

.icon-skiing::before {
  content: "\f7c9";
}

.icon-skiing-nordic::before {
  content: "\f7ca";
}

.icon-skull::before {
  content: "\f54c";
}

.icon-skull-crossbones::before {
  content: "\f714";
}

.icon-slash::before {
  content: "\f715";
}

.icon-sleigh::before {
  content: "\f7cc";
}

.icon-sliders-h::before {
  content: "\f1de";
}

.icon-smile::before {
  content: "\f118";
}

.icon-smile-beam::before {
  content: "\f5b8";
}

.icon-smile-wink::before {
  content: "\f4da";
}

.icon-smog::before {
  content: "\f75f";
}

.icon-smoking::before {
  content: "\f48d";
}

.icon-smoking-ban::before {
  content: "\f54d";
}

.icon-sms::before {
  content: "\f7cd";
}

.icon-snowboarding::before {
  content: "\f7ce";
}

.icon-snowflake::before {
  content: "\f2dc";
}

.icon-snowman::before {
  content: "\f7d0";
}

.icon-snowplow::before {
  content: "\f7d2";
}

.icon-soap::before {
  content: "\e06e";
}

.icon-socks::before {
  content: "\f696";
}

.icon-solar-panel::before {
  content: "\f5ba";
}

.icon-sort::before {
  content: "\f0dc";
}

.icon-sort-alpha-down::before {
  content: "\f15d";
}

.icon-sort-alpha-down-alt::before {
  content: "\f881";
}

.icon-sort-alpha-up::before {
  content: "\f15e";
}

.icon-sort-alpha-up-alt::before {
  content: "\f882";
}

.icon-sort-amount-down::before {
  content: "\f160";
}

.icon-sort-amount-down-alt::before {
  content: "\f884";
}

.icon-sort-amount-up::before {
  content: "\f161";
}

.icon-sort-amount-up-alt::before {
  content: "\f885";
}

.icon-sort-down::before {
  content: "\f0dd";
}

.icon-sort-numeric-down::before {
  content: "\f162";
}

.icon-sort-numeric-down-alt::before {
  content: "\f886";
}

.icon-sort-numeric-up::before {
  content: "\f163";
}

.icon-sort-numeric-up-alt::before {
  content: "\f887";
}

.icon-sort-up::before {
  content: "\f0de";
}

.icon-spa::before {
  content: "\f5bb";
}

.icon-space-shuttle::before {
  content: "\f197";
}

.icon-spell-check::before {
  content: "\f891";
}

.icon-spider::before {
  content: "\f717";
}

.icon-spinner::before {
  content: "\f110";
}

.icon-splotch::before {
  content: "\f5bc";
}

.icon-spray-can::before {
  content: "\f5bd";
}

.icon-square::before {
  content: "\f0c8";
}

.icon-square-full::before {
  content: "\f45c";
}

.icon-square-root-alt::before {
  content: "\f698";
}

.icon-stamp::before {
  content: "\f5bf";
}

.icon-star::before {
  content: "\f005";
}

.icon-star-and-crescent::before {
  content: "\f699";
}

.icon-star-half::before {
  content: "\f089";
}

.icon-star-half-alt::before {
  content: "\f5c0";
}

.icon-star-of-david::before {
  content: "\f69a";
}

.icon-star-of-life::before {
  content: "\f621";
}

.icon-step-backward::before {
  content: "\f048";
}

.icon-step-forward::before {
  content: "\f051";
}

.icon-stethoscope::before {
  content: "\f0f1";
}

.icon-sticky-note::before {
  content: "\f249";
}

.icon-stop::before {
  content: "\f04d";
}

.icon-stop-circle::before {
  content: "\f28d";
}

.icon-stopwatch::before {
  content: "\f2f2";
}

.icon-stopwatch-20::before {
  content: "\e06f";
}

.icon-store::before {
  content: "\f54e";
}

.icon-store-alt::before {
  content: "\f54f";
}

.icon-store-alt-slash::before {
  content: "\e070";
}

.icon-store-slash::before {
  content: "\e071";
}

.icon-stream::before {
  content: "\f550";
}

.icon-street-view::before {
  content: "\f21d";
}

.icon-strikethrough::before {
  content: "\f0cc";
}

.icon-stroopwafel::before {
  content: "\f551";
}

.icon-subscript::before {
  content: "\f12c";
}

.icon-subway::before {
  content: "\f239";
}

.icon-suitcase::before {
  content: "\f0f2";
}

.icon-suitcase-rolling::before {
  content: "\f5c1";
}

.icon-sun::before {
  content: "\f185";
}

.icon-superscript::before {
  content: "\f12b";
}

.icon-surprise::before {
  content: "\f5c2";
}

.icon-swatchbook::before {
  content: "\f5c3";
}

.icon-swimmer::before {
  content: "\f5c4";
}

.icon-swimming-pool::before {
  content: "\f5c5";
}

.icon-synagogue::before {
  content: "\f69b";
}

.icon-sync::before {
  content: "\f021";
}

.icon-sync-alt::before {
  content: "\f2f1";
}

.icon-syringe::before {
  content: "\f48e";
}

.icon-table::before {
  content: "\f0ce";
}

.icon-table-tennis::before {
  content: "\f45d";
}

.icon-tablet::before {
  content: "\f10a";
}

.icon-tablet-alt::before {
  content: "\f3fa";
}

.icon-tablets::before {
  content: "\f490";
}

.icon-tachometer-alt::before {
  content: "\f3fd";
}

.icon-tag::before {
  content: "\f02b";
}

.icon-tags::before {
  content: "\f02c";
}

.icon-tape::before {
  content: "\f4db";
}

.icon-tasks::before {
  content: "\f0ae";
}

.icon-taxi::before {
  content: "\f1ba";
}

.icon-teeth::before {
  content: "\f62e";
}

.icon-teeth-open::before {
  content: "\f62f";
}

.icon-temperature-high::before {
  content: "\f769";
}

.icon-temperature-low::before {
  content: "\f76b";
}

.icon-tenge::before {
  content: "\f7d7";
}

.icon-terminal::before {
  content: "\f120";
}

.icon-text-height::before {
  content: "\f034";
}

.icon-text-width::before {
  content: "\f035";
}

.icon-th::before {
  content: "\f00a";
}

.icon-th-large::before {
  content: "\f009";
}

.icon-th-list::before {
  content: "\f00b";
}

.icon-theater-masks::before {
  content: "\f630";
}

.icon-thermometer::before {
  content: "\f491";
}

.icon-thermometer-empty::before {
  content: "\f2cb";
}

.icon-thermometer-full::before {
  content: "\f2c7";
}

.icon-thermometer-half::before {
  content: "\f2c9";
}

.icon-thermometer-quarter::before {
  content: "\f2ca";
}

.icon-thermometer-three-quarters::before {
  content: "\f2c8";
}

.icon-thumbs-down::before {
  content: "\f165";
}

.icon-thumbs-up::before {
  content: "\f164";
}

.icon-thumbtack::before {
  content: "\f08d";
}

.icon-ticket-alt::before {
  content: "\f3ff";
}

.icon-times::before {
  content: "\f00d";
}

.icon-times-circle::before {
  content: "\f057";
}

.icon-tint::before {
  content: "\f043";
}

.icon-tint-slash::before {
  content: "\f5c7";
}

.icon-tired::before {
  content: "\f5c8";
}

.icon-toggle-off::before {
  content: "\f204";
}

.icon-toggle-on::before {
  content: "\f205";
}

.icon-toilet::before {
  content: "\f7d8";
}

.icon-toilet-paper::before {
  content: "\f71e";
}

.icon-toilet-paper-slash::before {
  content: "\e072";
}

.icon-toolbox::before {
  content: "\f552";
}

.icon-tools::before {
  content: "\f7d9";
}

.icon-tooth::before {
  content: "\f5c9";
}

.icon-torah::before {
  content: "\f6a0";
}

.icon-torii-gate::before {
  content: "\f6a1";
}

.icon-tractor::before {
  content: "\f722";
}

.icon-trademark::before {
  content: "\f25c";
}

.icon-traffic-light::before {
  content: "\f637";
}

.icon-trailer::before {
  content: "\e041";
}

.icon-train::before {
  content: "\f238";
}

.icon-tram::before {
  content: "\f7da";
}

.icon-transgender::before {
  content: "\f224";
}

.icon-transgender-alt::before {
  content: "\f225";
}

.icon-trash::before {
  content: "\f1f8";
}

.icon-trash-alt::before {
  content: "\f2ed";
}

.icon-trash-restore::before {
  content: "\f829";
}

.icon-trash-restore-alt::before {
  content: "\f82a";
}

.icon-tree::before {
  content: "\f1bb";
}

.icon-trophy::before {
  content: "\f091";
}

.icon-truck::before {
  content: "\f0d1";
}

.icon-truck-loading::before {
  content: "\f4de";
}

.icon-truck-monster::before {
  content: "\f63b";
}

.icon-truck-moving::before {
  content: "\f4df";
}

.icon-truck-pickup::before {
  content: "\f63c";
}

.icon-tshirt::before {
  content: "\f553";
}

.icon-tty::before {
  content: "\f1e4";
}

.icon-tv::before {
  content: "\f26c";
}

.icon-umbrella::before {
  content: "\f0e9";
}

.icon-umbrella-beach::before {
  content: "\f5ca";
}

.icon-underline::before {
  content: "\f0cd";
}

.icon-undo::before {
  content: "\f0e2";
}

.icon-undo-alt::before {
  content: "\f2ea";
}

.icon-universal-access::before {
  content: "\f29a";
}

.icon-university::before {
  content: "\f19c";
}

.icon-unlink::before {
  content: "\f127";
}

.icon-unlock::before {
  content: "\f09c";
}

.icon-unlock-alt::before {
  content: "\f13e";
}

.icon-upload::before {
  content: "\f093";
}

.icon-user::before {
  content: "\f007";
}

.icon-user-alt::before {
  content: "\f406";
}

.icon-user-alt-slash::before {
  content: "\f4fa";
}

.icon-user-astronaut::before {
  content: "\f4fb";
}

.icon-user-check::before {
  content: "\f4fc";
}

.icon-user-circle::before {
  content: "\f2bd";
}

.icon-user-clock::before {
  content: "\f4fd";
}

.icon-user-cog::before {
  content: "\f4fe";
}

.icon-user-edit::before {
  content: "\f4ff";
}

.icon-user-friends::before {
  content: "\f500";
}

.icon-user-graduate::before {
  content: "\f501";
}

.icon-user-injured::before {
  content: "\f728";
}

.icon-user-lock::before {
  content: "\f502";
}

.icon-user-md::before {
  content: "\f0f0";
}

.icon-user-minus::before {
  content: "\f503";
}

.icon-user-ninja::before {
  content: "\f504";
}

.icon-user-nurse::before {
  content: "\f82f";
}

.icon-user-plus::before {
  content: "\f234";
}

.icon-user-secret::before {
  content: "\f21b";
}

.icon-user-shield::before {
  content: "\f505";
}

.icon-user-slash::before {
  content: "\f506";
}

.icon-user-tag::before {
  content: "\f507";
}

.icon-user-tie::before {
  content: "\f508";
}

.icon-user-times::before {
  content: "\f235";
}

.icon-users::before {
  content: "\f0c0";
}

.icon-users-cog::before {
  content: "\f509";
}

.icon-users-slash::before {
  content: "\e073";
}

.icon-utensil-spoon::before {
  content: "\f2e5";
}

.icon-utensils::before {
  content: "\f2e7";
}

.icon-vector-square::before {
  content: "\f5cb";
}

.icon-venus::before {
  content: "\f221";
}

.icon-venus-double::before {
  content: "\f226";
}

.icon-venus-mars::before {
  content: "\f228";
}

.icon-vest::before {
  content: "\e085";
}

.icon-vest-patches::before {
  content: "\e086";
}

.icon-vial::before {
  content: "\f492";
}

.icon-vials::before {
  content: "\f493";
}

.icon-video::before {
  content: "\f03d";
}

.icon-video-slash::before {
  content: "\f4e2";
}

.icon-vihara::before {
  content: "\f6a7";
}

.icon-virus::before {
  content: "\e074";
}

.icon-virus-slash::before {
  content: "\e075";
}

.icon-viruses::before {
  content: "\e076";
}

.icon-voicemail::before {
  content: "\f897";
}

.icon-volleyball-ball::before {
  content: "\f45f";
}

.icon-volume-down::before {
  content: "\f027";
}

.icon-volume-mute::before {
  content: "\f6a9";
}

.icon-volume-off::before {
  content: "\f026";
}

.icon-volume-up::before {
  content: "\f028";
}

.icon-vote-yea::before {
  content: "\f772";
}

.icon-vr-cardboard::before {
  content: "\f729";
}

.icon-walking::before {
  content: "\f554";
}

.icon-wallet::before {
  content: "\f555";
}

.icon-warehouse::before {
  content: "\f494";
}

.icon-water::before {
  content: "\f773";
}

.icon-wave-square::before {
  content: "\f83e";
}

.icon-weight::before {
  content: "\f496";
}

.icon-weight-hanging::before {
  content: "\f5cd";
}

.icon-wheelchair::before {
  content: "\f193";
}

.icon-wifi::before {
  content: "\f1eb";
}

.icon-wind::before {
  content: "\f72e";
}

.icon-window-close::before {
  content: "\f410";
}

.icon-window-maximize::before {
  content: "\f2d0";
}

.icon-window-minimize::before {
  content: "\f2d1";
}

.icon-window-restore::before {
  content: "\f2d2";
}

.icon-wine-bottle::before {
  content: "\f72f";
}

.icon-wine-glass::before {
  content: "\f4e3";
}

.icon-wine-glass-alt::before {
  content: "\f5ce";
}

.icon-won-sign::before {
  content: "\f159";
}

.icon-wrench::before {
  content: "\f0ad";
}

.icon-x-ray::before {
  content: "\f497";
}

.icon-yen-sign::before {
  content: "\f157";
}

.icon-yin-yang::before {
  content: "\f6ad";
}

.icon-circle::before {
  content: "\f111";
}
