.icon-ad::after {
  content: "\f641";
}

.icon-address-book::after {
  content: "\f2b9";
}

.icon-address-card::after {
  content: "\f2bb";
}

.icon-adjust::after {
  content: "\f042";
}

.icon-air-freshener::after {
  content: "\f5d0";
}

.icon-align-center::after {
  content: "\f037";
}

.icon-align-justify::after {
  content: "\f039";
}

.icon-align-left::after {
  content: "\f036";
}

.icon-align-right::after {
  content: "\f038";
}

.icon-allergies::after {
  content: "\f461";
}

.icon-ambulance::after {
  content: "\f0f9";
}

.icon-american-sign-language-interpreting::after {
  content: "\f2a3";
}

.icon-anchor::after {
  content: "\f13d";
}

.icon-angle-double-down::after {
  content: "\f103";
}

.icon-angle-double-left::after {
  content: "\f100";
}

.icon-angle-double-right::after {
  content: "\f101";
}

.icon-angle-double-up::after {
  content: "\f102";
}

.icon-angle-down::after {
  content: "\f107";
}

.icon-angle-left::after {
  content: "\f104";
}

.icon-angle-right::after {
  content: "\f105";
}

.icon-angle-up::after {
  content: "\f106";
}

.icon-angry::after {
  content: "\f556";
}

.icon-ankh::after {
  content: "\f644";
}

.icon-apple-alt::after {
  content: "\f5d1";
}

.icon-archive::after {
  content: "\f187";
}

.icon-archway::after {
  content: "\f557";
}

.icon-arrow-alt-circle-down::after {
  content: "\f358";
}

.icon-arrow-alt-circle-left::after {
  content: "\f359";
}

.icon-arrow-alt-circle-right::after {
  content: "\f35a";
}

.icon-arrow-alt-circle-up::after {
  content: "\f35b";
}

.icon-arrow-circle-down::after {
  content: "\f0ab";
}

.icon-arrow-circle-left::after {
  content: "\f0a8";
}

.icon-arrow-circle-right::after {
  content: "\f0a9";
}

.icon-arrow-circle-up::after {
  content: "\f0aa";
}

.icon-arrow-down::after {
  content: "\f063";
}

.icon-arrow-left::after {
  content: "\f060";
}

.icon-arrow-right::after {
  content: "\f061";
}

.icon-arrow-up::after {
  content: "\f062";
}

.icon-arrows-alt::after {
  content: "\f0b2";
}

.icon-arrows-alt-h::after {
  content: "\f337";
}

.icon-arrows-alt-v::after {
  content: "\f338";
}

.icon-assistive-listening-systems::after {
  content: "\f2a2";
}

.icon-asterisk::after {
  content: "\f069";
}

.icon-at::after {
  content: "\f1fa";
}

.icon-atlas::after {
  content: "\f558";
}

.icon-atom::after {
  content: "\f5d2";
}

.icon-audio-description::after {
  content: "\f29e";
}

.icon-award::after {
  content: "\f559";
}

.icon-baby::after {
  content: "\f77c";
}

.icon-baby-carriage::after {
  content: "\f77d";
}

.icon-backspace::after {
  content: "\f55a";
}

.icon-backward::after {
  content: "\f04a";
}

.icon-bacon::after {
  content: "\f7e5";
}

.icon-bacteria::after {
  content: "\e059";
}

.icon-bacterium::after {
  content: "\e05a";
}

.icon-bahai::after {
  content: "\f666";
}

.icon-balance-scale::after {
  content: "\f24e";
}

.icon-balance-scale-left::after {
  content: "\f515";
}

.icon-balance-scale-right::after {
  content: "\f516";
}

.icon-ban::after {
  content: "\f05e";
}

.icon-band-aid::after {
  content: "\f462";
}

.icon-barcode::after {
  content: "\f02a";
}

.icon-bars::after {
  content: "\f0c9";
}

.icon-baseball-ball::after {
  content: "\f433";
}

.icon-biking::after {
  content: "\f84a";
}

.icon-feather::after {
  content: "\f52d";
}

.icon-feather-alt::after {
  content: "\f56b";
}

.icon-female::after {
  content: "\f182";
}

.icon-fighter-jet::after {
  content: "\f0fb";
}

.icon-file::after {
  content: "\f15b";
}

.icon-file-alt::after {
  content: "\f15c";
}

.icon-file-archive::after {
  content: "\f1c6";
}

.icon-file-audio::after {
  content: "\f1c7";
}

.icon-file-code::after {
  content: "\f1c9";
}

.icon-file-contract::after {
  content: "\f56c";
}

.icon-file-csv::after {
  content: "\f6dd";
}

.icon-file-download::after {
  content: "\f56d";
}

.icon-file-excel::after {
  content: "\f1c3";
}

.icon-file-export::after {
  content: "\f56e";
}

.icon-file-image::after {
  content: "\f1c5";
}

.icon-file-import::after {
  content: "\f56f";
}

.icon-file-invoice::after {
  content: "\f570";
}

.icon-file-invoice-dollar::after {
  content: "\f571";
}

.icon-file-medical::after {
  content: "\f477";
}

.icon-file-medical-alt::after {
  content: "\f478";
}

.icon-file-pdf::after {
  content: "\f1c1";
}

.icon-file-powerpoint::after {
  content: "\f1c4";
}

.icon-file-prescription::after {
  content: "\f572";
}

.icon-file-signature::after {
  content: "\f573";
}

.icon-file-upload::after {
  content: "\f574";
}

.icon-file-video::after {
  content: "\f1c8";
}

.icon-file-word::after {
  content: "\f1c2";
}

.icon-fill::after {
  content: "\f575";
}

.icon-fill-drip::after {
  content: "\f576";
}

.icon-film::after {
  content: "\f008";
}

.icon-filter::after {
  content: "\f0b0";
}

.icon-fingerprint::after {
  content: "\f577";
}

.icon-fire::after {
  content: "\f06d";
}

.icon-fire-alt::after {
  content: "\f7e4";
}

.icon-fire-extinguisher::after {
  content: "\f134";
}

.icon-first-aid::after {
  content: "\f479";
}

.icon-fish::after {
  content: "\f578";
}

.icon-fist-raised::after {
  content: "\f6de";
}

.icon-flag::after {
  content: "\f024";
}

.icon-flag-checkered::after {
  content: "\f11e";
}

.icon-flag-usa::after {
  content: "\f74d";
}

.icon-flask::after {
  content: "\f0c3";
}

.icon-flushed::after {
  content: "\f579";
}

.icon-folder::after {
  content: "\f07b";
}

.icon-folder-minus::after {
  content: "\f65d";
}

.icon-folder-open::after {
  content: "\f07c";
}

.icon-folder-plus::after {
  content: "\f65e";
}

.icon-font::after {
  content: "\f031";
}

.icon-football-ball::after {
  content: "\f44e";
}

.icon-forward::after {
  content: "\f04e";
}

.icon-frog::after {
  content: "\f52e";
}

.icon-frown::after {
  content: "\f119";
}

.icon-frown-open::after {
  content: "\f57a";
}

.icon-funnel-dollar::after {
  content: "\f662";
}

.icon-futbol::after {
  content: "\f1e3";
}

.icon-gamepad::after {
  content: "\f11b";
}

.icon-gas-pump::after {
  content: "\f52f";
}

.icon-gavel::after {
  content: "\f0e3";
}

.icon-gem::after {
  content: "\f3a5";
}

.icon-genderless::after {
  content: "\f22d";
}

.icon-ghost::after {
  content: "\f6e2";
}

.icon-gift::after {
  content: "\f06b";
}

.icon-gifts::after {
  content: "\f79c";
}

.icon-glass-cheers::after {
  content: "\f79f";
}

.icon-glass-martini::after {
  content: "\f000";
}

.icon-glass-martini-alt::after {
  content: "\f57b";
}

.icon-glass-whiskey::after {
  content: "\f7a0";
}

.icon-glasses::after {
  content: "\f530";
}

.icon-globe::after {
  content: "\f0ac";
}

.icon-globe-africa::after {
  content: "\f57c";
}

.icon-globe-americas::after {
  content: "\f57d";
}

.icon-globe-asia::after {
  content: "\f57e";
}

.icon-globe-europe::after {
  content: "\f7a2";
}

.icon-golf-ball::after {
  content: "\f450";
}

.icon-gopuram::after {
  content: "\f664";
}

.icon-graduation-cap::after {
  content: "\f19d";
}

.icon-greater-than::after {
  content: "\f531";
}

.icon-greater-than-equal::after {
  content: "\f532";
}

.icon-grimace::after {
  content: "\f57f";
}

.icon-grin::after {
  content: "\f580";
}

.icon-grin-alt::after {
  content: "\f581";
}

.icon-grin-beam::after {
  content: "\f582";
}

.icon-grin-beam-sweat::after {
  content: "\f583";
}

.icon-grin-hearts::after {
  content: "\f584";
}

.icon-grin-squint::after {
  content: "\f585";
}

.icon-grin-squint-tears::after {
  content: "\f586";
}

.icon-grin-stars::after {
  content: "\f587";
}

.icon-grin-tears::after {
  content: "\f588";
}

.icon-grin-tongue::after {
  content: "\f589";
}

.icon-grin-tongue-squint::after {
  content: "\f58a";
}

.icon-grin-tongue-wink::after {
  content: "\f58b";
}

.icon-grin-wink::after {
  content: "\f58c";
}

.icon-grip-horizontal::after {
  content: "\f58d";
}

.icon-grip-lines::after {
  content: "\f7a4";
}

.icon-grip-lines-vertical::after {
  content: "\f7a5";
}

.icon-grip-vertical::after {
  content: "\f58e";
}

.icon-guitar::after {
  content: "\f7a6";
}

.icon-h-square::after {
  content: "\f0fd";
}

.icon-hamburger::after {
  content: "\f805";
}

.icon-hammer::after {
  content: "\f6e3";
}

.icon-hamsa::after {
  content: "\f665";
}

.icon-hand-holding::after {
  content: "\f4bd";
}

.icon-hand-holding-heart::after {
  content: "\f4be";
}

.icon-hand-holding-medical::after {
  content: "\e05c";
}

.icon-hand-holding-usd::after {
  content: "\f4c0";
}

.icon-hand-holding-water::after {
  content: "\f4c1";
}

.icon-hand-lizard::after {
  content: "\f258";
}

.icon-hand-middle-finger::after {
  content: "\f806";
}

.icon-hand-paper::after {
  content: "\f256";
}

.icon-hand-peace::after {
  content: "\f25b";
}

.icon-hand-point-down::after {
  content: "\f0a7";
}

.icon-hand-point-left::after {
  content: "\f0a5";
}

.icon-hand-point-right::after {
  content: "\f0a4";
}

.icon-hand-point-up::after {
  content: "\f0a6";
}

.icon-hand-pointer::after {
  content: "\f25a";
}

.icon-hand-rock::after {
  content: "\f255";
}

.icon-hand-scissors::after {
  content: "\f257";
}

.icon-hand-sparkles::after {
  content: "\e05d";
}

.icon-hand-spock::after {
  content: "\f259";
}

.icon-hands::after {
  content: "\f4c2";
}

.icon-hands-helping::after {
  content: "\f4c4";
}

.icon-hands-wash::after {
  content: "\e05e";
}

.icon-handshake::after {
  content: "\f2b5";
}

.icon-handshake-alt-slash::after {
  content: "\e05f";
}

.icon-handshake-slash::after {
  content: "\e060";
}

.icon-hanukiah::after {
  content: "\f6e6";
}

.icon-hard-hat::after {
  content: "\f807";
}

.icon-hashtag::after {
  content: "\f292";
}

.icon-hat-cowboy::after {
  content: "\f8c0";
}

.icon-hat-cowboy-side::after {
  content: "\f8c1";
}

.icon-hat-wizard::after {
  content: "\f6e8";
}

.icon-hdd::after {
  content: "\f0a0";
}

.icon-head-side-cough::after {
  content: "\e061";
}

.icon-head-side-cough-slash::after {
  content: "\e062";
}

.icon-head-side-mask::after {
  content: "\e063";
}

.icon-head-side-virus::after {
  content: "\e064";
}

.icon-heading::after {
  content: "\f1dc";
}

.icon-headphones::after {
  content: "\f025";
}

.icon-headphones-alt::after {
  content: "\f58f";
}

.icon-headset::after {
  content: "\f590";
}

.icon-heart::after {
  content: "\f004";
}

.icon-heart-broken::after {
  content: "\f7a9";
}

.icon-heartbeat::after {
  content: "\f21e";
}

.icon-helicopter::after {
  content: "\f533";
}

.icon-highlighter::after {
  content: "\f591";
}

.icon-hiking::after {
  content: "\f6ec";
}

.icon-hippo::after {
  content: "\f6ed";
}

.icon-history::after {
  content: "\f1da";
}

.icon-hockey-puck::after {
  content: "\f453";
}

.icon-holly-berry::after {
  content: "\f7aa";
}

.icon-home::after {
  content: "\f015";
}

.icon-horse::after {
  content: "\f6f0";
}

.icon-horse-head::after {
  content: "\f7ab";
}

.icon-hospital::after {
  content: "\f0f8";
}

.icon-hospital-alt::after {
  content: "\f47d";
}

.icon-hospital-symbol::after {
  content: "\f47e";
}

.icon-hospital-user::after {
  content: "\f80d";
}

.icon-hot-tub::after {
  content: "\f593";
}

.icon-hotdog::after {
  content: "\f80f";
}

.icon-hotel::after {
  content: "\f594";
}

.icon-hourglass::after {
  content: "\f254";
}

.icon-hourglass-end::after {
  content: "\f253";
}

.icon-hourglass-half::after {
  content: "\f252";
}

.icon-hourglass-start::after {
  content: "\f251";
}

.icon-house-damage::after {
  content: "\f6f1";
}

.icon-house-user::after {
  content: "\e065";
}

.icon-hryvnia::after {
  content: "\f6f2";
}

.icon-i-cursor::after {
  content: "\f246";
}

.icon-ice-cream::after {
  content: "\f810";
}

.icon-icicles::after {
  content: "\f7ad";
}

.icon-icons::after {
  content: "\f86d";
}

.icon-id-badge::after {
  content: "\f2c1";
}

.icon-id-card::after {
  content: "\f2c2";
}

.icon-id-card-alt::after {
  content: "\f47f";
}

.icon-igloo::after {
  content: "\f7ae";
}

.icon-image::after {
  content: "\f03e";
}

.icon-images::after {
  content: "\f302";
}

.icon-inbox::after {
  content: "\f01c";
}

.icon-indent::after {
  content: "\f03c";
}

.icon-industry::after {
  content: "\f275";
}

.icon-infinity::after {
  content: "\f534";
}

.icon-info::after {
  content: "\f129";
}

.icon-info-circle::after {
  content: "\f05a";
}

.icon-italic::after {
  content: "\f033";
}

.icon-jedi::after {
  content: "\f669";
}

.icon-joint::after {
  content: "\f595";
}

.icon-journal-whills::after {
  content: "\f66a";
}

.icon-kaaba::after {
  content: "\f66b";
}

.icon-key::after {
  content: "\f084";
}

.icon-keyboard::after {
  content: "\f11c";
}

.icon-khanda::after {
  content: "\f66d";
}

.icon-kiss::after {
  content: "\f596";
}

.icon-kiss-beam::after {
  content: "\f597";
}

.icon-kiss-wink-heart::after {
  content: "\f598";
}

.icon-kiwi-bird::after {
  content: "\f535";
}

.icon-landmark::after {
  content: "\f66f";
}

.icon-language::after {
  content: "\f1ab";
}

.icon-laptop::after {
  content: "\f109";
}

.icon-laptop-code::after {
  content: "\f5fc";
}

.icon-laptop-house::after {
  content: "\e066";
}

.icon-laptop-medical::after {
  content: "\f812";
}

.icon-laugh::after {
  content: "\f599";
}

.icon-laugh-beam::after {
  content: "\f59a";
}

.icon-laugh-squint::after {
  content: "\f59b";
}

.icon-laugh-wink::after {
  content: "\f59c";
}

.icon-layer-group::after {
  content: "\f5fd";
}

.icon-leaf::after {
  content: "\f06c";
}

.icon-lemon::after {
  content: "\f094";
}

.icon-less-than::after {
  content: "\f536";
}

.icon-less-than-equal::after {
  content: "\f537";
}

.icon-level-down-alt::after {
  content: "\f3be";
}

.icon-level-up-alt::after {
  content: "\f3bf";
}

.icon-life-ring::after {
  content: "\f1cd";
}

.icon-lightbulb::after {
  content: "\f0eb";
}

.icon-link::after {
  content: "\f0c1";
}

.icon-lira-sign::after {
  content: "\f195";
}

.icon-list::after {
  content: "\f03a";
}

.icon-list-alt::after {
  content: "\f022";
}

.icon-list-ol::after {
  content: "\f0cb";
}

.icon-list-ul::after {
  content: "\f0ca";
}

.icon-location-arrow::after {
  content: "\f124";
}

.icon-lock::after {
  content: "\f023";
}

.icon-lock-open::after {
  content: "\f3c1";
}

.icon-long-arrow-alt-down::after {
  content: "\f309";
}

.icon-long-arrow-alt-left::after {
  content: "\f30a";
}

.icon-long-arrow-alt-right::after {
  content: "\f30b";
}

.icon-long-arrow-alt-up::after {
  content: "\f30c";
}

.icon-low-vision::after {
  content: "\f2a8";
}

.icon-luggage-cart::after {
  content: "\f59d";
}

.icon-lungs::after {
  content: "\f604";
}

.icon-lungs-virus::after {
  content: "\e067";
}

.icon-magic::after {
  content: "\f0d0";
}

.icon-magnet::after {
  content: "\f076";
}

.icon-mail-bulk::after {
  content: "\f674";
}

.icon-male::after {
  content: "\f183";
}

.icon-map::after {
  content: "\f279";
}

.icon-map-marked::after {
  content: "\f59f";
}

.icon-map-marked-alt::after {
  content: "\f5a0";
}

.icon-map-marker::after {
  content: "\f041";
}

.icon-map-marker-alt::after {
  content: "\f3c5";
}

.icon-map-pin::after {
  content: "\f276";
}

.icon-map-signs::after {
  content: "\f277";
}

.icon-marker::after {
  content: "\f5a1";
}

.icon-mars::after {
  content: "\f222";
}

.icon-mars-double::after {
  content: "\f227";
}

.icon-mars-stroke::after {
  content: "\f229";
}

.icon-mars-stroke-h::after {
  content: "\f22b";
}

.icon-mars-stroke-v::after {
  content: "\f22a";
}

.icon-mask::after {
  content: "\f6fa";
}

.icon-medal::after {
  content: "\f5a2";
}

.icon-medkit::after {
  content: "\f0fa";
}

.icon-meh::after {
  content: "\f11a";
}

.icon-meh-blank::after {
  content: "\f5a4";
}

.icon-meh-rolling-eyes::after {
  content: "\f5a5";
}

.icon-memory::after {
  content: "\f538";
}

.icon-menorah::after {
  content: "\f676";
}

.icon-mercury::after {
  content: "\f223";
}

.icon-meteor::after {
  content: "\f753";
}

.icon-microchip::after {
  content: "\f2db";
}

.icon-microphone::after {
  content: "\f130";
}

.icon-microphone-alt::after {
  content: "\f3c9";
}

.icon-microphone-alt-slash::after {
  content: "\f539";
}

.icon-microphone-slash::after {
  content: "\f131";
}

.icon-microscope::after {
  content: "\f610";
}

.icon-minus::after {
  content: "\f068";
}

.icon-minus-circle::after {
  content: "\f056";
}

.icon-minus-square::after {
  content: "\f146";
}

.icon-mitten::after {
  content: "\f7b5";
}

.icon-mobile::after {
  content: "\f10b";
}

.icon-mobile-alt::after {
  content: "\f3cd";
}

.icon-money-bill::after {
  content: "\f0d6";
}

.icon-money-bill-alt::after {
  content: "\f3d1";
}

.icon-money-bill-wave::after {
  content: "\f53a";
}

.icon-money-bill-wave-alt::after {
  content: "\f53b";
}

.icon-money-check::after {
  content: "\f53c";
}

.icon-money-check-alt::after {
  content: "\f53d";
}

.icon-monument::after {
  content: "\f5a6";
}

.icon-moon::after {
  content: "\f186";
}

.icon-mortar-pestle::after {
  content: "\f5a7";
}

.icon-mosque::after {
  content: "\f678";
}

.icon-motorcycle::after {
  content: "\f21c";
}

.icon-mountain::after {
  content: "\f6fc";
}

.icon-mouse::after {
  content: "\f8cc";
}

.icon-mouse-pointer::after {
  content: "\f245";
}

.icon-mug-hot::after {
  content: "\f7b6";
}

.icon-music::after {
  content: "\f001";
}

.icon-network-wired::after {
  content: "\f6ff";
}

.icon-neuter::after {
  content: "\f22c";
}

.icon-newspaper::after {
  content: "\f1ea";
}

.icon-not-equal::after {
  content: "\f53e";
}

.icon-notes-medical::after {
  content: "\f481";
}

.icon-object-group::after {
  content: "\f247";
}

.icon-object-ungroup::after {
  content: "\f248";
}

.icon-oil-can::after {
  content: "\f613";
}

.icon-om::after {
  content: "\f679";
}

.icon-otter::after {
  content: "\f700";
}

.icon-outdent::after {
  content: "\f03b";
}

.icon-pager::after {
  content: "\f815";
}

.icon-paint-brush::after {
  content: "\f1fc";
}

.icon-paint-roller::after {
  content: "\f5aa";
}

.icon-palette::after {
  content: "\f53f";
}

.icon-pallet::after {
  content: "\f482";
}

.icon-paper-plane::after {
  content: "\f1d8";
}

.icon-paperclip::after {
  content: "\f0c6";
}

.icon-parachute-box::after {
  content: "\f4cd";
}

.icon-paragraph::after {
  content: "\f1dd";
}

.icon-parking::after {
  content: "\f540";
}

.icon-passport::after {
  content: "\f5ab";
}

.icon-pastafarianism::after {
  content: "\f67b";
}

.icon-paste::after {
  content: "\f0ea";
}

.icon-pause::after {
  content: "\f04c";
}

.icon-pause-circle::after {
  content: "\f28b";
}

.icon-paw::after {
  content: "\f1b0";
}

.icon-peace::after {
  content: "\f67c";
}

.icon-pen::after {
  content: "\f304";
}

.icon-pen-alt::after {
  content: "\f305";
}

.icon-pen-fancy::after {
  content: "\f5ac";
}

.icon-pen-nib::after {
  content: "\f5ad";
}

.icon-pen-square::after {
  content: "\f14b";
}

.icon-pencil-alt::after {
  content: "\f303";
}

.icon-pencil-ruler::after {
  content: "\f5ae";
}

.icon-people-arrows::after {
  content: "\e068";
}

.icon-people-carry::after {
  content: "\f4ce";
}

.icon-pepper-hot::after {
  content: "\f816";
}

.icon-percent::after {
  content: "\f295";
}

.icon-percentage::after {
  content: "\f541";
}

.icon-person-booth::after {
  content: "\f756";
}

.icon-phone::after {
  content: "\f095";
}

.icon-phone-alt::after {
  content: "\f879";
}

.icon-phone-slash::after {
  content: "\f3dd";
}

.icon-phone-square::after {
  content: "\f098";
}

.icon-phone-square-alt::after {
  content: "\f87b";
}

.icon-phone-volume::after {
  content: "\f2a0";
}

.icon-photo-video::after {
  content: "\f87c";
}

.icon-piggy-bank::after {
  content: "\f4d3";
}

.icon-pills::after {
  content: "\f484";
}

.icon-pizza-slice::after {
  content: "\f818";
}

.icon-place-of-worship::after {
  content: "\f67f";
}

.icon-plane::after {
  content: "\f072";
}

.icon-plane-arrival::after {
  content: "\f5af";
}

.icon-plane-departure::after {
  content: "\f5b0";
}

.icon-plane-slash::after {
  content: "\e069";
}

.icon-play::after {
  content: "\f04b";
}

.icon-play-circle::after {
  content: "\f144";
}

.icon-plug::after {
  content: "\f1e6";
}

.icon-plus::after {
  content: "\f067";
}

.icon-plus-circle::after {
  content: "\f055";
}

.icon-plus-square::after {
  content: "\f0fe";
}

.icon-podcast::after {
  content: "\f2ce";
}

.icon-poll::after {
  content: "\f681";
}

.icon-poll-h::after {
  content: "\f682";
}

.icon-poo::after {
  content: "\f2fe";
}

.icon-poo-storm::after {
  content: "\f75a";
}

.icon-poop::after {
  content: "\f619";
}

.icon-portrait::after {
  content: "\f3e0";
}

.icon-pound-sign::after {
  content: "\f154";
}

.icon-power-off::after {
  content: "\f011";
}

.icon-pray::after {
  content: "\f683";
}

.icon-praying-hands::after {
  content: "\f684";
}

.icon-prescription::after {
  content: "\f5b1";
}

.icon-prescription-bottle::after {
  content: "\f485";
}

.icon-prescription-bottle-alt::after {
  content: "\f486";
}

.icon-print::after {
  content: "\f02f";
}

.icon-procedures::after {
  content: "\f487";
}

.icon-project-diagram::after {
  content: "\f542";
}

.icon-pump-medical::after {
  content: "\e06a";
}

.icon-pump-soap::after {
  content: "\e06b";
}

.icon-puzzle-piece::after {
  content: "\f12e";
}

.icon-qrcode::after {
  content: "\f029";
}

.icon-question::after {
  content: "\f128";
}

.icon-question-circle::after {
  content: "\f059";
}

.icon-quote-left::after {
  content: "\f10d";
}

.icon-quote-right::after {
  content: "\f10e";
}

.icon-quran::after {
  content: "\f687";
}

.icon-radiation::after {
  content: "\f7b9";
}

.icon-radiation-alt::after {
  content: "\f7ba";
}

.icon-rainbow::after {
  content: "\f75b";
}

.icon-random::after {
  content: "\f074";
}

.icon-receipt::after {
  content: "\f543";
}

.icon-record-vinyl::after {
  content: "\f8d9";
}

.icon-recycle::after {
  content: "\f1b8";
}

.icon-redo::after {
  content: "\f01e";
}

.icon-redo-alt::after {
  content: "\f2f9";
}

.icon-registered::after {
  content: "\f25d";
}

.icon-remove-format::after {
  content: "\f87d";
}

.icon-reply-all::after {
  content: "\f122";
}

.icon-republican::after {
  content: "\f75e";
}

.icon-restroom::after {
  content: "\f7bd";
}

.icon-retweet::after {
  content: "\f079";
}

.icon-ribbon::after {
  content: "\f4d6";
}

.icon-ring::after {
  content: "\f70b";
}

.icon-road::after {
  content: "\f018";
}

.icon-robot::after {
  content: "\f544";
}

.icon-rocket::after {
  content: "\f135";
}

.icon-route::after {
  content: "\f4d7";
}

.icon-rss::after {
  content: "\f09e";
}

.icon-rss-square::after {
  content: "\f143";
}

.icon-ruble-sign::after {
  content: "\f158";
}

.icon-ruler::after {
  content: "\f545";
}

.icon-ruler-combined::after {
  content: "\f546";
}

.icon-ruler-horizontal::after {
  content: "\f547";
}

.icon-ruler-vertical::after {
  content: "\f548";
}

.icon-running::after {
  content: "\f70c";
}

.icon-rupee-sign::after {
  content: "\f156";
}

.icon-sad-cry::after {
  content: "\f5b3";
}

.icon-sad-tear::after {
  content: "\f5b4";
}

.icon-satellite::after {
  content: "\f7bf";
}

.icon-satellite-dish::after {
  content: "\f7c0";
}

.icon-save::after {
  content: "\f0c7";
}

.icon-school::after {
  content: "\f549";
}

.icon-screwdriver::after {
  content: "\f54a";
}

.icon-scroll::after {
  content: "\f70e";
}

.icon-sd-card::after {
  content: "\f7c2";
}

.icon-search::after {
  content: "\f002";
}

.icon-search-dollar::after {
  content: "\f688";
}

.icon-search-location::after {
  content: "\f689";
}

.icon-search-minus::after {
  content: "\f010";
}

.icon-search-plus::after {
  content: "\f00e";
}

.icon-seedling::after {
  content: "\f4d8";
}

.icon-server::after {
  content: "\f233";
}

.icon-shapes::after {
  content: "\f61f";
}

.icon-share::after {
  content: "\f064";
}

.icon-share-alt::after {
  content: "\f1e0";
}

.icon-share-alt-square::after {
  content: "\f1e1";
}

.icon-share-square::after {
  content: "\f14d";
}

.icon-shekel-sign::after {
  content: "\f20b";
}

.icon-shield-alt::after {
  content: "\f3ed";
}

.icon-shield-virus::after {
  content: "\e06c";
}

.icon-ship::after {
  content: "\f21a";
}

.icon-shipping-fast::after {
  content: "\f48b";
}

.icon-shoe-prints::after {
  content: "\f54b";
}

.icon-shopping-bag::after {
  content: "\f290";
}

.icon-shopping-basket::after {
  content: "\f291";
}

.icon-shopping-cart::after {
  content: "\f07a";
}

.icon-shower::after {
  content: "\f2cc";
}

.icon-shuttle-van::after {
  content: "\f5b6";
}

.icon-sign::after {
  content: "\f4d9";
}

.icon-sign-in-alt::after {
  content: "\f2f6";
}

.icon-sign-language::after {
  content: "\f2a7";
}

.icon-sign-out-alt::after {
  content: "\f2f5";
}

.icon-signal::after {
  content: "\f012";
}

.icon-signature::after {
  content: "\f5b7";
}

.icon-sim-card::after {
  content: "\f7c4";
}

.icon-sink::after {
  content: "\e06d";
}

.icon-sitemap::after {
  content: "\f0e8";
}

.icon-skating::after {
  content: "\f7c5";
}

.icon-skiing::after {
  content: "\f7c9";
}

.icon-skiing-nordic::after {
  content: "\f7ca";
}

.icon-skull::after {
  content: "\f54c";
}

.icon-skull-crossbones::after {
  content: "\f714";
}

.icon-slash::after {
  content: "\f715";
}

.icon-sleigh::after {
  content: "\f7cc";
}

.icon-sliders-h::after {
  content: "\f1de";
}

.icon-smile::after {
  content: "\f118";
}

.icon-smile-beam::after {
  content: "\f5b8";
}

.icon-smile-wink::after {
  content: "\f4da";
}

.icon-smog::after {
  content: "\f75f";
}

.icon-smoking::after {
  content: "\f48d";
}

.icon-smoking-ban::after {
  content: "\f54d";
}

.icon-sms::after {
  content: "\f7cd";
}

.icon-snowboarding::after {
  content: "\f7ce";
}

.icon-snowflake::after {
  content: "\f2dc";
}

.icon-snowman::after {
  content: "\f7d0";
}

.icon-snowplow::after {
  content: "\f7d2";
}

.icon-soap::after {
  content: "\e06e";
}

.icon-socks::after {
  content: "\f696";
}

.icon-solar-panel::after {
  content: "\f5ba";
}

.icon-sort::after {
  content: "\f0dc";
}

.icon-sort-alpha-down::after {
  content: "\f15d";
}

.icon-sort-alpha-down-alt::after {
  content: "\f881";
}

.icon-sort-alpha-up::after {
  content: "\f15e";
}

.icon-sort-alpha-up-alt::after {
  content: "\f882";
}

.icon-sort-amount-down::after {
  content: "\f160";
}

.icon-sort-amount-down-alt::after {
  content: "\f884";
}

.icon-sort-amount-up::after {
  content: "\f161";
}

.icon-sort-amount-up-alt::after {
  content: "\f885";
}

.icon-sort-down::after {
  content: "\f0dd";
}

.icon-sort-numeric-down::after {
  content: "\f162";
}

.icon-sort-numeric-down-alt::after {
  content: "\f886";
}

.icon-sort-numeric-up::after {
  content: "\f163";
}

.icon-sort-numeric-up-alt::after {
  content: "\f887";
}

.icon-sort-up::after {
  content: "\f0de";
}

.icon-spa::after {
  content: "\f5bb";
}

.icon-space-shuttle::after {
  content: "\f197";
}

.icon-spell-check::after {
  content: "\f891";
}

.icon-spider::after {
  content: "\f717";
}

.icon-spinner::after {
  content: "\f110";
}

.icon-splotch::after {
  content: "\f5bc";
}

.icon-spray-can::after {
  content: "\f5bd";
}

.icon-square::after {
  content: "\f0c8";
}

.icon-square-full::after {
  content: "\f45c";
}

.icon-square-root-alt::after {
  content: "\f698";
}

.icon-stamp::after {
  content: "\f5bf";
}

.icon-star::after {
  content: "\f005";
}

.icon-star-and-crescent::after {
  content: "\f699";
}

.icon-star-half::after {
  content: "\f089";
}

.icon-star-half-alt::after {
  content: "\f5c0";
}

.icon-star-of-david::after {
  content: "\f69a";
}

.icon-star-of-life::after {
  content: "\f621";
}

.icon-step-backward::after {
  content: "\f048";
}

.icon-step-forward::after {
  content: "\f051";
}

.icon-stethoscope::after {
  content: "\f0f1";
}

.icon-sticky-note::after {
  content: "\f249";
}

.icon-stop::after {
  content: "\f04d";
}

.icon-stop-circle::after {
  content: "\f28d";
}

.icon-stopwatch::after {
  content: "\f2f2";
}

.icon-stopwatch-20::after {
  content: "\e06f";
}

.icon-store::after {
  content: "\f54e";
}

.icon-store-alt::after {
  content: "\f54f";
}

.icon-store-alt-slash::after {
  content: "\e070";
}

.icon-store-slash::after {
  content: "\e071";
}

.icon-stream::after {
  content: "\f550";
}

.icon-street-view::after {
  content: "\f21d";
}

.icon-strikethrough::after {
  content: "\f0cc";
}

.icon-stroopwafel::after {
  content: "\f551";
}

.icon-subscript::after {
  content: "\f12c";
}

.icon-subway::after {
  content: "\f239";
}

.icon-suitcase::after {
  content: "\f0f2";
}

.icon-suitcase-rolling::after {
  content: "\f5c1";
}

.icon-sun::after {
  content: "\f185";
}

.icon-superscript::after {
  content: "\f12b";
}

.icon-surprise::after {
  content: "\f5c2";
}

.icon-swatchbook::after {
  content: "\f5c3";
}

.icon-swimmer::after {
  content: "\f5c4";
}

.icon-swimming-pool::after {
  content: "\f5c5";
}

.icon-synagogue::after {
  content: "\f69b";
}

.icon-sync::after {
  content: "\f021";
}

.icon-sync-alt::after {
  content: "\f2f1";
}

.icon-syringe::after {
  content: "\f48e";
}

.icon-table::after {
  content: "\f0ce";
}

.icon-table-tennis::after {
  content: "\f45d";
}

.icon-tablet::after {
  content: "\f10a";
}

.icon-tablet-alt::after {
  content: "\f3fa";
}

.icon-tablets::after {
  content: "\f490";
}

.icon-tachometer-alt::after {
  content: "\f3fd";
}

.icon-tag::after {
  content: "\f02b";
}

.icon-tags::after {
  content: "\f02c";
}

.icon-tape::after {
  content: "\f4db";
}

.icon-tasks::after {
  content: "\f0ae";
}

.icon-taxi::after {
  content: "\f1ba";
}

.icon-teeth::after {
  content: "\f62e";
}

.icon-teeth-open::after {
  content: "\f62f";
}

.icon-temperature-high::after {
  content: "\f769";
}

.icon-temperature-low::after {
  content: "\f76b";
}

.icon-tenge::after {
  content: "\f7d7";
}

.icon-terminal::after {
  content: "\f120";
}

.icon-text-height::after {
  content: "\f034";
}

.icon-text-width::after {
  content: "\f035";
}

.icon-th::after {
  content: "\f00a";
}

.icon-th-large::after {
  content: "\f009";
}

.icon-th-list::after {
  content: "\f00b";
}

.icon-theater-masks::after {
  content: "\f630";
}

.icon-thermometer::after {
  content: "\f491";
}

.icon-thermometer-empty::after {
  content: "\f2cb";
}

.icon-thermometer-full::after {
  content: "\f2c7";
}

.icon-thermometer-half::after {
  content: "\f2c9";
}

.icon-thermometer-quarter::after {
  content: "\f2ca";
}

.icon-thermometer-three-quarters::after {
  content: "\f2c8";
}

.icon-thumbs-down::after {
  content: "\f165";
}

.icon-thumbs-up::after {
  content: "\f164";
}

.icon-thumbtack::after {
  content: "\f08d";
}

.icon-ticket-alt::after {
  content: "\f3ff";
}

.icon-times::after {
  content: "\f00d";
}

.icon-times-circle::after {
  content: "\f057";
}

.icon-tint::after {
  content: "\f043";
}

.icon-tint-slash::after {
  content: "\f5c7";
}

.icon-tired::after {
  content: "\f5c8";
}

.icon-toggle-off::after {
  content: "\f204";
}

.icon-toggle-on::after {
  content: "\f205";
}

.icon-toilet::after {
  content: "\f7d8";
}

.icon-toilet-paper::after {
  content: "\f71e";
}

.icon-toilet-paper-slash::after {
  content: "\e072";
}

.icon-toolbox::after {
  content: "\f552";
}

.icon-tools::after {
  content: "\f7d9";
}

.icon-tooth::after {
  content: "\f5c9";
}

.icon-torah::after {
  content: "\f6a0";
}

.icon-torii-gate::after {
  content: "\f6a1";
}

.icon-tractor::after {
  content: "\f722";
}

.icon-trademark::after {
  content: "\f25c";
}

.icon-traffic-light::after {
  content: "\f637";
}

.icon-trailer::after {
  content: "\e041";
}

.icon-train::after {
  content: "\f238";
}

.icon-tram::after {
  content: "\f7da";
}

.icon-transgender::after {
  content: "\f224";
}

.icon-transgender-alt::after {
  content: "\f225";
}

.icon-trash::after {
  content: "\f1f8";
}

.icon-trash-alt::after {
  content: "\f2ed";
}

.icon-trash-restore::after {
  content: "\f829";
}

.icon-trash-restore-alt::after {
  content: "\f82a";
}

.icon-tree::after {
  content: "\f1bb";
}

.icon-trophy::after {
  content: "\f091";
}

.icon-truck::after {
  content: "\f0d1";
}

.icon-truck-loading::after {
  content: "\f4de";
}

.icon-truck-monster::after {
  content: "\f63b";
}

.icon-truck-moving::after {
  content: "\f4df";
}

.icon-truck-pickup::after {
  content: "\f63c";
}

.icon-tshirt::after {
  content: "\f553";
}

.icon-tty::after {
  content: "\f1e4";
}

.icon-tv::after {
  content: "\f26c";
}

.icon-umbrella::after {
  content: "\f0e9";
}

.icon-umbrella-beach::after {
  content: "\f5ca";
}

.icon-underline::after {
  content: "\f0cd";
}

.icon-undo::after {
  content: "\f0e2";
}

.icon-undo-alt::after {
  content: "\f2ea";
}

.icon-universal-access::after {
  content: "\f29a";
}

.icon-university::after {
  content: "\f19c";
}

.icon-unlink::after {
  content: "\f127";
}

.icon-unlock::after {
  content: "\f09c";
}

.icon-unlock-alt::after {
  content: "\f13e";
}

.icon-upload::after {
  content: "\f093";
}

.icon-user::after {
  content: "\f007";
}

.icon-user-alt::after {
  content: "\f406";
}

.icon-user-alt-slash::after {
  content: "\f4fa";
}

.icon-user-astronaut::after {
  content: "\f4fb";
}

.icon-user-check::after {
  content: "\f4fc";
}

.icon-user-circle::after {
  content: "\f2bd";
}

.icon-user-clock::after {
  content: "\f4fd";
}

.icon-user-cog::after {
  content: "\f4fe";
}

.icon-user-edit::after {
  content: "\f4ff";
}

.icon-user-friends::after {
  content: "\f500";
}

.icon-user-graduate::after {
  content: "\f501";
}

.icon-user-injured::after {
  content: "\f728";
}

.icon-user-lock::after {
  content: "\f502";
}

.icon-user-md::after {
  content: "\f0f0";
}

.icon-user-minus::after {
  content: "\f503";
}

.icon-user-ninja::after {
  content: "\f504";
}

.icon-user-nurse::after {
  content: "\f82f";
}

.icon-user-plus::after {
  content: "\f234";
}

.icon-user-secret::after {
  content: "\f21b";
}

.icon-user-shield::after {
  content: "\f505";
}

.icon-user-slash::after {
  content: "\f506";
}

.icon-user-tag::after {
  content: "\f507";
}

.icon-user-tie::after {
  content: "\f508";
}

.icon-user-times::after {
  content: "\f235";
}

.icon-users::after {
  content: "\f0c0";
}

.icon-users-cog::after {
  content: "\f509";
}

.icon-users-slash::after {
  content: "\e073";
}

.icon-utensil-spoon::after {
  content: "\f2e5";
}

.icon-utensils::after {
  content: "\f2e7";
}

.icon-vector-square::after {
  content: "\f5cb";
}

.icon-venus::after {
  content: "\f221";
}

.icon-venus-double::after {
  content: "\f226";
}

.icon-venus-mars::after {
  content: "\f228";
}

.icon-vest::after {
  content: "\e085";
}

.icon-vest-patches::after {
  content: "\e086";
}

.icon-vial::after {
  content: "\f492";
}

.icon-vials::after {
  content: "\f493";
}

.icon-video::after {
  content: "\f03d";
}

.icon-video-slash::after {
  content: "\f4e2";
}

.icon-vihara::after {
  content: "\f6a7";
}

.icon-virus::after {
  content: "\e074";
}

.icon-virus-slash::after {
  content: "\e075";
}

.icon-viruses::after {
  content: "\e076";
}

.icon-voicemail::after {
  content: "\f897";
}

.icon-volleyball-ball::after {
  content: "\f45f";
}

.icon-volume-down::after {
  content: "\f027";
}

.icon-volume-mute::after {
  content: "\f6a9";
}

.icon-volume-off::after {
  content: "\f026";
}

.icon-volume-up::after {
  content: "\f028";
}

.icon-vote-yea::after {
  content: "\f772";
}

.icon-vr-cardboard::after {
  content: "\f729";
}

.icon-walking::after {
  content: "\f554";
}

.icon-wallet::after {
  content: "\f555";
}

.icon-warehouse::after {
  content: "\f494";
}

.icon-water::after {
  content: "\f773";
}

.icon-wave-square::after {
  content: "\f83e";
}

.icon-weight::after {
  content: "\f496";
}

.icon-weight-hanging::after {
  content: "\f5cd";
}

.icon-wheelchair::after {
  content: "\f193";
}

.icon-wifi::after {
  content: "\f1eb";
}

.icon-wind::after {
  content: "\f72e";
}

.icon-window-close::after {
  content: "\f410";
}

.icon-window-maximize::after {
  content: "\f2d0";
}

.icon-window-minimize::after {
  content: "\f2d1";
}

.icon-window-restore::after {
  content: "\f2d2";
}

.icon-wine-bottle::after {
  content: "\f72f";
}

.icon-wine-glass::after {
  content: "\f4e3";
}

.icon-wine-glass-alt::after {
  content: "\f5ce";
}

.icon-won-sign::after {
  content: "\f159";
}

.icon-wrench::after {
  content: "\f0ad";
}

.icon-x-ray::after {
  content: "\f497";
}

.icon-yen-sign::after {
  content: "\f157";
}

.icon-yin-yang::after {
  content: "\f6ad";
}

.icon-circle::after {
  content: "\f111";
}
