main {
  margin-top: -25px;
  padding-top: 25px;
}

.top-bar .top-bar-title a img {
  width: 300px;
  height: auto;
}

.top-bar-title {
  margin-right: 0;
}

body>header, .wrapper>header, .top-bar {
  background-color: $white;
  color: $dark;
}


.debate .panel, .proposal .panel, .investment-project .panel, .budget-investment .panel, .legislation .panel, .communities-show .panel, .process-summary .debate-summary, .process-summary .proposal-summary, .process-summary .annotation-summary {
  background-color: $module-index-panel-background;
}

.margin-top-25 {
  margin-top: 2.5em !important;
}


// Fix for Reveal modal bug

html.is-reveal-open body {
  overflow-y: visible !important;
}
