body,
.help-header,
.tabs-content,
.comments,
.comment-list .comment-body,
.fixed-mobile-content,
body.admin ul.tabs,
body.admin .top-bar,
body.admin .tabs-title > a[aria-selected='true'],
.admin-top-bar {
  background-color: #F4F4F4 !important;
}

.help-header {
  background-color: #eeeeee;

  .column {
    float: none;
  }
}

.help-header::after,
.section-header::after {
  border-bottom: 2px solid #eee;
}

.footer {
  background: #d7d7d7;
}


main {
  margin-top: -25px;
  padding-top: 25px;
}

.top-bar .top-bar-title a img {
  max-width: 300px;
  height: auto;
}

.top-bar-title {
  margin-right: 0;
}

body>header, .wrapper>header, .top-bar {
  color: $dark;
}

.top-bar {
  background: white !important;
}

.header-right-group {
  display: flex;
  align-items: center;

  @media (max-width: 39.9375em) {
    width: 100%;
  }

  .account-buttons {
    font-size: 0.85rem;
    font-weight: bold;
  }

  .sign-in-button,
  .sign-up-button {
    display: inline-block;
    border-radius: 2px;
    padding: 0.25rem 2em;
    margin-right: 0.5rem;

    background-color: #F4F4F4;
    color: $dark;
  }

  .sign-up-button {
    margin-right: 1rem;
    background-color: $brand;
    color: $white;
  }
}

.top-bar {
  justify-content: space-between !important;

  h2.header-title {
    line-height: 1em;
    text-transform: uppercase;
    font-size: 28px;
    color: $dark;
    margin-bottom: 1em;
    margin-top: 1em;

    span {
      font-weight: 100;
    }
  }
}


.debate .panel,
.proposal .panel,
.deficiency-report .panel,
.investment-project .panel,
.budget-investment .panel,
.legislation .panel,
.communities-show .panel,
.process-summary .debate-summary,
.process-summary .proposal-summary,
.process-summary .annotation-summary {
  background-color: $module-index-panel-background;
}

.margin-top-25 {
  margin-top: 2.5em !important;
}


// Fix for Reveal modal bug

html.is-reveal-open body {
  overflow-y: visible !important;
}


// Sidebar

.sidebar-title-icon:before {
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: inherit;
  margin-right: 0.25em;
  display: inline-block;
  text-decoration: none;

}

.sidebar-title-icon.fa-highlighter:before {
  content: "\f591";
}

.sidebar-title-icon.fa-check-circle:before {
  content: "\f058";
}

// Reorder columns

@media screen and (min-width: 40em) {
  #proposals.proposals-list.column,
  #debates.debates-list.column,
  #polls.polls-list.column,
  #budgets.budgets-list.column,
  #deficiency-reports.deficiency-reports-list.column {
    float: left;
  }

  #proposals-sidebar.column,
  #debates-sidebar.column,
  #polls-sidebar.column,
  #budgets-sidebar.column,
  #deficiency-reports-sidebar.column {
    float: right;
  }
}

ul.tabs li.tabs-title {
  margin-bottom: 0;
}

.header-right-group {
  .account-buttons {
    display: flex;
    flex-direction: column;
  }

   .sign-in-button, .sign-up-button {
     text-align: center;
     margin-right: 0;
     margin-bottom: 5px;
     padding: 0.25rem 2.2em;
   }
}

#filter-projekts-all #filter-projekts-active ul {
  position: relative;
}

#filter-projekts-all #filter-projekts-active ul > li[aria-expanded="true"] > .projekt-tree-ul-vertical-line {
  background: #b8b8b8;
  content: '';
  width: 1px;
  position: absolute;
  display: block;
  top: 21px;
  left: -12px;
}

#filter-projekts-all #filter-projekts-active > ul > ul {
  &::before {
    background: #b8b8b8;
    content: '';
    width: calc(100% - 224px);
    height: 1px;
    position: absolute;
    display: block;
    top: 12px;
    right: 251px;
  }
}

#filter-projekts-all #filter-projekts-active > ul > ul > ul {
  &::before {
    background: #b8b8b8;
    content: '';
    width: calc(100% - 205px);
    height: 1px;
    position: absolute;
    display: block;
    top: 11px;
    right: 233px;
  }
}

.resource-n .resource-details .resource-summary a {
  color: #222;
  text-decoration: none;
}
