// setup_project

.tags span {
    background: #ececec;
    border-radius: rem-calc(6);
    color: $text;
    display: inline-block;
    font-size: $small-font-size;
    margin-bottom: $line-height / 3;
    padding: $line-height / 4 $line-height / 3;
    text-decoration: none;
  
    &:hover {
      background: #e0e0e0;
    }
    &.selected{
      background: #e7f2fc;
      color: #004a83;
    }
  }



// Homepage -Tiles


.home-page,
.custom-page {

  .card {
    border: 0;
    overflow: visible;

    a {

      img {
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }

    a:hover {
      text-decoration: none;

      &:not(.see-all) {
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
      }

      img {
        transform: scale(1.1);
      }
    }

    p {
      padding: 0 $line-height / 4;
    }
  }


  .figure-card {

    figcaption {
      z-index: 3;
    }

    .gradient {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 1) 100%);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
}


.figure-card {
  display: flex;
  margin: 0 0 $line-height;
  overflow: hidden;
  position: relative;

  @include breakpoint(medium down) {
    min-height: $line-height * 4;
  }

  @include breakpoint(medium) {
    max-height: rem-calc(600);
  }

  @include breakpoint(large) {
    max-height: rem-calc(600);
  }

  a {

    h3,
    .title {
      color: #fff;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  figcaption {
    bottom: 0;
    color: #fff;
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    text-transform: uppercase;
    padding: $line-height / 4 $line-height / 2;
    position: absolute;
    width: 100%;

    h3,
    .title {
      font-size: $base-font-size;

      @include breakpoint(medium) {
        font-size: rem-calc(20);
      }

      @include breakpoint(large) {
        font-size: rem-calc(24);
        line-height: rem-calc(24);
      }
    }

    span {
      background: #fff;
      border-radius: rem-calc(4);
      color: #000;
      display: inline-block;
      font-size: $small-font-size;
      font-weight: bold;
      margin-bottom: $line-height / 4;
      padding: rem-calc(4) rem-calc(8);
    }
  }
}