main {
  margin-top: -25px;
  padding-top: 25px;
}

.top-bar .top-bar-title a img {
  max-width: 300px;
  height: auto;
}

.top-bar-title {
  margin-right: 0;
}

body>header, .wrapper>header, .top-bar {
  background-color: $white;
  color: $dark;
}

.header-right-group {
  display: flex;
  align-items: center;

  @media (max-width: 39.9375em) {
    width: 100%;
  }

  .account-buttons {
    font-size: 0.85rem;
    font-weight: bold;
  }

  .sign-in-button,
  .sign-up-button {
    display: inline-block;
    border-radius: 2px;
    padding: 0.25rem 2em;
    margin-right: 0.5rem;

    background-color: #F4F4F4;
    color: $dark;
  }

  .sign-up-button {
    margin-right: 1rem;
    background-color: $brand;
    color: $white;
  }
}

.top-bar {
  h2.header-title {
    line-height: 1em;
    text-transform: uppercase;
    font-size: 28px;
    color: $dark;
    margin-bottom: 1em;
    margin-top: 1em;

    span {
      font-weight: 100;
    }
  }
}


.debate .panel,
.proposal .panel,
.deficiency-report .panel,
.investment-project .panel,
.budget-investment .panel,
.legislation .panel,
.communities-show .panel,
.process-summary .debate-summary,
.process-summary .proposal-summary,
.process-summary .annotation-summary {
  background-color: $module-index-panel-background;
}

.margin-top-25 {
  margin-top: 2.5em !important;
}


// Fix for Reveal modal bug

html.is-reveal-open body {
  overflow-y: visible !important;
}
