// Search address plugin

.leaflet-geosearch-bar {
  z-index: 6 !important;
}

.leaflet-control-geosearch form input {
  background: initial !important;
  height: 26px !important;
  margin-bottom: 0 !important;
  border: none !important;
  box-shadow: none !important;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.leaflet-touch .leaflet-control-geosearch a.reset {
  line-height: 26px !important;
}

.leaflet-control-geosearch a.reset {
  height: 26px !important;
}

// Map full page width
.map.proposals-map,
.map.deficiency-reports-map {
  margin-top: -24px;
}

@media screen and (min-width: 75em) {
  .map.proposals-map,
  .map.deficiency-reports-map {
    margin-left: calc(-50vw + 37.5rem);
    margin-right: calc(-50vw + 37.5rem);
    width: auto;
  }
}

.map_location, #admin-map {
  height: 350px;
}


.expand-overview-map-wrapper {
  position: relative;
  z-index: 1;

  .expand-overview-map {
    cursor: pointer;
    position: absolute;
    right: 0;

    &.wide {
      @media screen and (min-width: 75rem) {
        right: calc(37.5rem - 50vw + 15px)
      }
    }

    &::before {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      left: -15px;
    }
  }

  .expand-overview-map[aria-expanded="true"]::before {
    transform: rotate(180deg);
  }
}
