// Locale switcher

body > header .locale.locale-custom,
.wrapper > header .locale.locale-custom {
  height: 2.5rem;
  margin-left: 0;

  &::after {
    display: none;
  }

  .locale-form {

    label {
      color: $dark
    }
  
    .locale-switcher {
      margin-top: 0.5rem;

      &:focus {
        outline: 3px solid #ffbf47 !important
      }
    }
  }
}


// Adapting header to mobile view

@media screen and (max-width: 39.9375em) {
  h2.city-name {
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.5rem;
    margin: 1em;
  }

  .subnavigation.row {
    position: absolute;
    width: calc(100% + 2px);
  }

  .hamburger-menu {
    position: absolute;
    margin-left: 1rem;
  }

  .top-bar-title {
    margin: 0.5rem auto;
  }

  .subnavigation .account-admin-items a.account-items-icon,
  .subnavigation .account-admin-items a.admin-items-icon {
    display: none;
  }
}


// styling mobile menu

span.icon-circle {
  color: yellow;
  position: absolute;
  font-size: 0.5em;
}

span.icon-notification,
span.icon-no-notification {
  font-size: 19px;
}

.icon-notification::before {
  font-size: 22px;
}

.subnavigation a.home-items-icon {
  display: none;
}

.subnavigation ul.main-menu {
  margin-left: 1em;
  padding-bottom: 1em;
}

.account-admin-items {
  li#notifications {
    margin-right: 0;
  }

  a {
    display: inline-block;
  }

  .account-items-icon,
  .admin-items-icon {
    position: relative;
    width: 18px;
  }

  .account-items-link,
  .admin-items-link {
    display: inline;
  }

  .account-icon,
  .admin-icon {
    position: absolute;
    top: -15px;
  }
}

.nav-element {
  position: relative;
}

.external-links {
  display: none;
}

.projekt-modules-links {
  display: none;
}

#responsive-menu {
  width: 100%;

  .subnavigation.row {
    background-color: $responsive-menu-background-color;
    color: $responsive-menu-text-color;
    left: 8px;

    a {
      color: $responsive-menu-text-color;
    }
  }

  li > ul {
    padding-left: 1em;
  }

  li.nav-element > ul {
    display: none;
  }

  li.flyout-item > ul {
    padding-right: 0;
  }

  .top-level-item,
  .flyout-item-name,
  .subnavigation a {
    line-height: 2.4rem;
  }

}

// Styling mobile toggling

#responsive-menu {

  .nav-toggle-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
  }

  .top-level-item > .nav-toggle-arrow {
    top: 9px;
    right: 0;
  }

  .flyout-item .nav-toggle-arrow {
    top: 9px;
    right: -15px;
  }

  .nav-toggle-arrow:after {
    border: 0;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: auto;
    position: absolute;
    transition: 0.25s;
  }


  .top-level-item > .nav-toggle-arrow:after {
    top: -9px;
    left: 3px;
  }

  .flyout-item .nav-toggle-arrow:after {
    top: -2px;
    left: 3px;
  }

  li[aria-expanded="true"] > .nav-toggle-arrow::after,
  li[aria-expanded="true"] > .projekt-name-group > .nav-toggle-arrow::after {
    transform: rotate(180deg)
  }

  li.nav-element[aria-expanded="true"] > ul {
    display: block;
  }
}




// Styling main menu layout in desktop

@media screen and (min-width: 40em) {
  .subnavigation ul.main-menu li.top-level-item > ul.nav-flyout-block {
    border-top: none;
  }

  #responsive-menu {
    display: none !important;
  }

  #navigation_bar {
    background-color: $top-level-menu-background-color;
  }

  .subnavigation a.home-items-icon {
    display: inline-block;
    width: 20px;
    display: inline-block;
    height: 100%;

    &:focus {
      outline: $outline-focus;
    }
  }

  .home-icon {
    top: 14px;
    right: 0;
    position: absolute;
  }

  .subnavigation ul.main-menu {
    display: flex;
    margin-left: 0;
    padding-bottom: 0;

    .content-items {
      flex-grow: 1;
    }

    .projekt-name,
    li.nav-element a {
      color: $top-level-menu-item-text-color;
    }
  }

  .content-items {
    display: flex;
    flex-wrap: wrap;
  }

  .account-admin-items {
    display: flex;
    justify-content: space-between;

    .top-level-item {
      padding-left: 1.5em;
    }

    .account-items-icon,
    .admin-items-icon {
      width: 20px;
      height: 100%;
    }

    .icon-no-notification::before {
      font-size: 20px;
    }

    .account-items-link,
    .admin-items-link {
      display: none;
    }

    .admin-icon {
      top: 14px;
      right: 0;
      padding-bottom: 14px;
    }

    .account-icon {
      top: 14px;
      right: 0;
      padding-bottom: 14px;
    }

    .top-level-item {
      margin-right: 0;
    }
  }

  .external-links {
    display: block;
  }


  //  Height of the top menu
  
  #navigation_bar .top-level-item > a,
  #navigation_bar .top-level-item > .flyout-item-name > a,
  #navigation_bar .top-level-item > .flyout-item-name,
  .subnavigation a {
    line-height: 3rem;
    font-weight: normal;
  }

  #navigation_bar .top-level-item {
    height: 3rem;
  }

  #navigation_bar .account-admin-items li.nav-element.top-level-item > ul.nav-flyout-block {
    top: 3rem;
  }

  // Styling flyout items

  .main-menu {

    li.nav-element:hover > ul.nav-flyout-block {
      display: block !important;
    }


    li.nav-element:focus {
      outline: $outline-focus;
      z-index: 1000;
    }

    ul.nav-flyout-block {
      left: 100%;
      top: -1px;
      display: none;
      position: absolute;
      border: 1px solid $flyout-block-border-color;
    }

    li.nav-element.top-level-item > ul.nav-flyout-block {
      left: 0;
      top: 100%;
    }

    .account-admin-items li.nav-element.top-level-item > ul.nav-flyout-block {
      left: auto;
      right: 0;
    }

    li {
      position: relative;
    }

    li.flyout-item {
      width: 300px;
      padding: 1em;
      margin-right: 0;
      border-bottom: 1px solid $flyout-item-divider-color;
      z-index: 7;
      background: $flyout-item-bg-color;
      padding-bottom: calc(1rem - 1px);

      &:first-child {
        border-top: 1px solid $flyout-item-divider-color;
      }

      &:last-child {
        border-bottom: none;
      }

      a,
      .projekt-name {
        color: $flyout-item-text-color;
        line-height: $flyout-item-line-height;
      }
    }

    li.flyout-item-projekt {
      min-height: $flyout-item-projekt-min-height;
    }

    li.flyout-item ~ li.flyout-item {
      border-top: none;
    }
  }

  // Styling projekts in navigation items

  .main-menu {

    .projekt-modules-links {
      display: block;
      font-size: 11px;
      line-height: initial;
      color: $flyout-item-projekt-modules-links-color;
      margin-top: 0.25rem;

      a.projekt-module-link {
        display: inline;
        line-height: initial;
        color: $flyout-item-projekt-modules-links-color;
      }
    }

  }


  // Styling notification 

  .account-admin-items {
    li#notifications {
      margin-right: 0;
      margin-left: 1.5rem;
      width: 22px;
      line-height: normal;

      a.notifications {
        position: absolute;
        height: 100%;
        width: 22px;
      }

      span.icon-notification {
          position: absolute;
          font-size: 1.5rem;
      }

      span.icon-circle {
        position: absolute;
        color: yellow;
        z-index: 1;
        font-size: 0.75em;
        top: 5px;
      }
    }
  }

}
