.whatsapp::before {
  background-color: #43d854;
  color: #fff;
  display: inline-block;
  font-size: rem-calc(30);
  height: rem-calc(48);
  padding-top: rem-calc(3);
  text-align: center;
  vertical-align: top;
  width: rem-calc(48);
}
// setup_project
// Polls
.poll {
  ul{
    margin-bottom: 0;
  }
  &.with-image {
    @include breakpoint(medium) {
      padding: 0 $line-height / 2 0 0;
    }
    img {
      height: 100%;
      max-width: none;
      position: absolute;
    }
  }
}


// overrides for debates and proposals forms

.proposal-new, .debate-new {
  label:not([for$='_terms_of_service']),
  fieldset.nested-image > legend,
  fieldset.documents-list > legend {
    color: #227CB1;
  }

  header {
    margin-bottom: 5rem;
  }

  .required-fields {
    margin-bottom: 4rem;

    label[for^=proposal_translations_attributes],
    label[for^=debate_translations_attributes] {
      &:after {
        content: '*';
        margin-left: 0.15rem;
      }
    }
  }

  .actions {
    span.star-message {
      display: block;
      color: #227CB1;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    label[for$=_terms_of_service] {
      span {
        display: inline;
      }

      input[id$=_terms_of_service] {
        margin-top: 8px;
        margin-bottom: 0px;
      }
    }
  }
}
