.poll-answer-group {
  display: inline-block;

  .poll-answer-thumbnail {
    width: 10.5rem;
    height: 10.5rem;
    background: #DCDCDC;
    margin-bottom: 0.5rem;
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
