// Admin pages

span.icon-projekts::before {
  content: "\f126";
}

.projekt-text-field {
  position: relative;

  [type='text'],
  select {
    width: 90%;
  }
}

.geo-affiliation-title,
.geo-restriction-title {
  display: block;
  margin-bottom: 1em;
}

table.projekts,
table.edit-projekt {

  tr:nth-child(even),
  tr:hover {
    background: none;
  }

  tr.projekt-row {
    border-bottom: none;
  }

  tr.projekt-details {
    border-top: none;
  }

  tr.projekt-row[aria-expanded="false"] {
    .info-arrow {
      transform: rotate(0deg);
    }

    &+tr.projekt-details {
      display: none;
    }
  }

  tr.projekt-row[aria-expanded="true"] {
    .info-arrow {
      transform: rotate(180deg);
    }

    &+tr.projekt-details {
      display: table-row;
    }
  }

  .update-projekt-link {
    color: #004a83;
    cursor: pointer;
    margin-right: 0.75em !important;
  }
}

#edit_projekt {
  tr.projekt_phase_settings {
    border-bottom: none;
  }

  tr.projekt_phase_geozones {
    border-top: none;
  }

  div[id^="geozones_for"] {
    .geozone-check-box {
      float: left;
    }
  }

  .fieldset-disabled {
    opacity: 0.3;
  }
}

.projekt-summary {
  display: grid;
  grid-template-columns: 250px 300px;
  margin-bottom: 2em;
  font-size: 0.875em;

  .section-title,
  .debate-phase,
  .proposal-phase,
  .voting-phase {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .debate-phase,
  .proposal-phase,
  .voting-phase {
    display: grid;
    grid-template-columns: 250px 300px;
    margin-bottom: 1rem;
  }

  .margin-top {
    margin-top: 1rem;
  }

  a {
    margin-left: 0 !important;
  }

}

form select {
  height: 3rem;
  margin-bottom: 1rem;

  &:not(.show-arrow) {
    background: #f8f8f8;
  }
}

tr.projekt-row td {
  vertical-align: top;
}

td.projekt-info {
  label {
    padding-left: 12px;
  }

  .info-arrow {
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
  }

  .info-arrow:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: auto;
    position: absolute;
    transition: 0.25s;
    font-size: 24px;
    left: 14px;
    top: 10px;
  }
}

td.projekt-level {
}

td.projekt-order {

  position: relative;

  a {
    color: $black;
  }

  .projekt-order-arrow-controls {
    position: absolute;
    top: 40px;
    left: 12px;
  }

  .order-number {
    margin-left: 1em;
  }
}

.projekt-action-buttons {
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;

  a,
  input {
    margin-right: 0.75em !important;
    margin-left: 0 !important;
  }

  .destroy-link {
    color: #cc4b37;
  }
}


table.edit-projekt {

  input[type='date'] {
    width: 90%;
  }
}

div.projekt-phase-geozone-restriction-selector {

  input[type='radio'] {
    margin-bottom: 0.5em
  }

  .projekt-phase-geozone-selector label {
    margin-right: 2em;
  }

  .projekt-phase-geozone-selector {
    display: none;
  }

  input[type='checkbox'] + label {
    font-weight: normal;
  }

  input[type='checkbox']:checked + label {
    font-weight: bold;
  }


  input.comment_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.comment_phase {
    display: block;
  }

  input.debate_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.debate_phase {
    display: block;
  }

  input.proposal_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.proposal_phase {
    display: block;
  }

  input.budget_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.budget_phase {
    display: block;
  }

  input#projekt_geozone_affiliated_only_geozones:checked ~ .projekt-phase-geozone-selector {
    display: block;
  }
}


// Index and new views

#filter-projekts-all {
  margin-bottom: 1rem;

  form label {
    font-size: 0.875rem;
    font-weight: inherit;
    line-height: 1.8;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }

  li {
    position: relative;

    &~ul {
      display: none;
    }

    span.toggle-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      cursor: pointer;
      color: #878787;
    }

    span.toggle-arrow::after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      display: inline-block;
      transition: 0.25s;
    }
  }

  li[aria-expanded="true"] {
    &~ul {
      display: block;
    }

    span.toggle-arrow::after {
      transform: rotate(180deg);
    }
  }

  li[aria-expanded="false"] {
    &~ul.projekt-navigator {
      display: none;
    }

    span.toggle-arrow::after {
      transform: rotate(0deg);
    }
  }



  label {
    cursor: pointer;
    position: relative;
    color: #878787;
    margin-right: 2em;
  }

  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  #filter-projekts-active > ul,
  #filter-projekts-archived > ul {
    margin-left: 20px;
  }

  ul {
    margin-left: 16px;
  }

  .projekt-filter-icon {
    color: $brand;
  }

  .checkmark,
  .radiomark {
    position: absolute;
    top: 5px;
    left: -19px;
    height: 14px;
    width: 14px;
    border: 1.5px solid #C6C6C6;
  }

  .checkmark {
    border-radius: 2px;
  }

  .radiomark {
    border-radius: 14px;
  }

  input:checked ~ .checkmark:before,
  input:checked ~ .radiomark:before {
    display: block;
  }

  input:checked ~ .checkmark,
  input:checked ~ .radiomark {
    background: #878787;
    border: 1.5px solid #878787;
  }

  .label-selected {
  }

  .checkmark:before,
  .radiomark:before {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 7px;
    border: 1.5px solid #fff;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .sidebar-filter-group {
    input[type="submit"] {
      border: 0;
    }
  }
}

.sidebar-projekt-group-name {
  margin: .5em 0;
  font-size: 0.875em;
  font-weight: 700;
}

.projekt-options {
  margin: 2em 0;
}

span.projekt-backlink:before {
  content: "\f2d0";
  font-weight: normal;
  font-family: 'Font Awesome 5 Free';
  opacity: 0.9;
}



// Projekt notifications

.admin .projekt-notification {
  position: relative;

  input[type='checkbox'] {
    display: none;
  }

  .edit-projekt-notification-form {
    display: none;
  }

  input:checked ~ .projekt-notification-content {
    display: none;
  }

  input:checked ~ .edit-projekt-notification-form {
    display: block;
  }

  .edit-projekt-notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .edit-projekt-notification::before {
    content: "\f044";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #004a83;
  }

  .delete-projekt-notification {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .delete-projekt-notification::before {
    content: "\f2ed";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #cc4b37;
  }
}

// Projekt events
.admin .projekt-event {
  position: relative;

  input[type='checkbox'] {
    display: none;
  }

  .edit-projekt-event-form {
    display: none;
  }

  input:checked ~ .projekt-event-content {
    display: none;
  }

  input:checked ~ .edit-projekt-event-form {
    display: block;
  }

  .edit-projekt-event {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .edit-projekt-event::before {
    content: "\f044";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #004a83;
  }

  .delete-projekt-event {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .delete-projekt-event::before {
    content: "\f2ed";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #cc4b37;
  }
}

// Projekt page footer

.projekt-footer {
  margin-top: 5em;
}

#tab-activities .most-active-resources {
  .tabs-panel {
    padding: 0;
  }

  .all-projekt-resources-link {
    float: right;
    padding-top: 0.5rem;
  }
}

// Projekt settings

.admin .featured-settings-form [aria-pressed] {
  margin-bottom: 0;
}

.projekt-listing {
  display: flex;
  border: 1px solid #e5e6e9;
  background: #f9f9f9;
  color: #707070;
  padding: 18px;
  margin-bottom: 1rem;

  .image img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    @media (min-width: 40em) {
      padding-right: 30px;
      margin-bottom: 0;
    }
  }

  .content-wrapper {
    padding-right: 15px;
  }

  .projekt-title {
    font-size: 18px;
  }

  .actions {
    position: relative;
    min-height: 80px;

    a.button {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: max-content;
      height: fit-content;
    }
  }

  p {
    margin-bottom: 5px;
  }

  .sdg-tag-list .sdg-goal-tag-list {
    margin-left: 0;

    .selected-goal {
      margin-right: 2px;
      margin-left: 2px;

    }
    .sdg-goal-icon {
      min-width: 42px;
      max-width: 42px;
      width: auto;
    }
  }
}

.projekt-event-item {
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 16px;

  &:last-child {
    border-bottom: none;
  }
}

.projekt-event-item-titles {
  padding-right: 58px;
}

.projekt-event-item-calendar {
  width: 70px;
  height: 70px;
  padding-top: 5px;
  text-align: center;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: inset 0px 3px 6px #0000000F, 0px 3px 6px #00000024;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #EDEDED 100%) 0% 0% no-repeat padding-box;
}

.projekt-event-item-calendar-dayname {
  color: #FF4120;
  font-weight: bold;
  font-size: 16px;
}

.projekt-event-item-calendar-daynumber {
  font-size: 38px;
  font-weight: bold;
  margin-top: -14px;
}

.projekt-event-tab-title {
  margin-bottom: 20px;
}

.projekts-map {
  margin-bottom: 50px;
  margin-left: calc(-50vw + 37.5rem);
  margin-right: calc(-50vw + 37.5rem);
  width: auto;
}

.projekt-item-attributes {
  display: flex;
}

.projekt-item-tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.projekt-item-tag {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ECECEC;
  color: black;
  font-size: 14px;
}
