// Admin pages

span.icon-projekts::before {
  content: "\f126";
}

.projekt-text-field {
  position: relative;

  [type='text'],
  select {
    width: 90%;
  }
}

.geo-affiliation-title,
.geo-restriction-title {
  display: block;
  margin-bottom: 1em;
}

table.projekts,
table.edit-projekt {
  
  tr:nth-child(even),
  tr:hover {
    background: none;
  }

  tr.projekt-row {
    border-bottom: none;
  }

  tr.projekt-details {
    border-top: none;
  }

  tr.projekt-row[aria-expanded="false"] {
    .info-arrow {
      transform: rotate(0deg);
    }

    &+tr.projekt-details {
      display: none;
    }
	}

  tr.projekt-row[aria-expanded="true"] {
    .info-arrow {
      transform: rotate(180deg);
    }

    &+tr.projekt-details {
      display: table-row;
    }
	}

  .update-projekt-link {
    color: #004a83;
    cursor: pointer;
    margin-right: 0.75em !important;
  }
}

#edit_projekt {
  tr.projekt_phase_settings {
    border-bottom: none;
  }

  tr.projekt_phase_geozones {
    border-top: none;
  }

  div[id^="geozones_for"] {
    .geozone-check-box {
      float: left;
    }
  }

  .fieldset-disabled {
    opacity: 0.3;
  }
}

.projekt-summary {
  display: grid;
  grid-template-columns: 250px 300px;
  margin-bottom: 2em;
  font-size: 0.875em;

  .section-title,
  .debate-phase,
  .proposal-phase {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .debate-phase,
  .proposal-phase {
    display: grid;
    grid-template-columns: 250px 300px;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .margin-top {
    margin-top: 1rem;
  }

  a {
    margin-left: 0 !important;
  }

}

form select {
  background: #f8f8f8;
  height: 3rem;
  margin-bottom: 1rem;
}

tr.projekt-row td {
  vertical-align: top;
}

td.projekt-info {
  label {
    padding-left: 12px;
  }

  .info-arrow {
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
  }

  .info-arrow:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    height: auto;
    position: absolute;
    transition: 0.25s; 
    font-size: 24px;
    left: 14px;
    top: 10px;
  }
}

td.projekt-level {
}

td.projekt-order {

  position: relative;

  a {
    color: $black;
  }

  .projekt-order-arrow-controls {
    position: absolute;
    top: 40px;
    left: 12px;
  }

  .order-number {
    margin-left: 1em;
  }
}

.projekt-action-buttons {
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;

  a, 
  input {
    margin-right: 0.75em !important;
    margin-left: 0 !important;
  }
}


table.edit-projekt {

  input[type='date'] {
    width: 90%;
  }
}

div.projekt-phase-geozone-restriction-selector {

  input[type='radio'] {
    margin-bottom: 0.5em 
  }

  .projekt-phase-geozone-selector label {
    margin-right: 2em;
  }

  .projekt-phase-geozone-selector {
    display: none;
  }

  input[type='checkbox'] + label {
    font-weight: normal;
  }

  input[type='checkbox']:checked + label {
    font-weight: bold;
  }


  input.debate_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.debate_phase {
    display: block;
  }

  input.proposal_phase_only_geozones:checked ~ .projekt-phase-geozone-selector.proposal_phase {
    display: block;
  }

  input#projekt_geozone_affiliated_only_geozones:checked ~ .projekt-phase-geozone-selector {
    display: block;
  }
}


// Index and new views

#projekt-tags {
  margin: 1em 0;
}

#projekt-tags-selector {

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 1em;
  row-gap: 1em;

  .projekt-tags-column:not(:first-child) {
    .projekt-group {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #878787;
  }

  .checkmark-wrapper {
    position: absolute;
    top: 16px;
    left: 12px;
    height: 25px;
    width: 30px;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }

  input:not(:checked) ~ .checkmark-wrapper > .checkmark {
    background: #fff;
    border: 1.5px solid #C6C6C6;
	}

  input:checked ~ .checkmark-wrapper > .checkmark {
    background: #fff;
    border: 1.5px solid #06408E;
  }

  input:checked ~ .checkmark-wrapper > .checkmark::after {
    background: #06408E;
    border: 1.5px solid #06408E;
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  label {
    display: block;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 1em;
    font-weight: initial;
    line-height: 1.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    color: #222;
    font-weight: 800;
    font-size: 0.875em;
    padding-right: 20%;
    border-left: 1px solid #ECF2FB;
  }

  label.highlighted {
    background: #ECF2FB;
  }

  label.show-arrow:after {
    content: '';
    position: absolute;
    right: 18px;
    top: 23px;
    width: 7px;
    height: 7px;
    border: 1.5px solid #222;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
  }

  label.projekt-phase-disabled {
    color: #878787;

    .checkmark-wrapper:hover {
      cursor: not-allowed;
    }
  }

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .projekt-phase-details {
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.75rem;
  }

}

#filter-projekts-all {

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }

  li {
    position: relative;

    &~ul {
      display: none;
    }

    span.toggle-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      cursor: pointer;
      color: #878787;
    }

    span.toggle-arrow::after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      display: inline-block;
      transition: 0.25s;
    }
  }

  li[aria-expanded="true"] {
    &~ul {
      display: block;
    }

    span.toggle-arrow::after {
      transform: rotate(180deg);
    }
  }

  li[aria-expanded="false"] {
    &~ul.projekt-navigator {
      display: none;
    }

    span.toggle-arrow::after {
      transform: rotate(0deg);
    }
  }



  label {
    cursor: pointer;
    position: relative;
    color: #878787;
    margin-right: 2em;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: -19px;
    height: 14px;
    width: 14px;
    border: 1.5px solid #C6C6C6;
    border-radius: 2px;
  }

  input:checked ~ .checkmark:before {
    display: block;
  }

  input:checked ~ .checkmark {
    background: #06408E;
    border: 1.5px solid #06408E;
  }

  .label-selected {
    color: #06408E;
    border-color: #06408E;
  }

  .checkmark:before {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: 1.5px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

}

.sidebar-projekt-group-name {
  margin: .5em 0;
  font-size: 0.875em;
}

.projekt-options {
  margin: 2em 0;
}

span.projekt-backlink:before {
  content: "\f2d0";
  font-weight: normal;
  font-family: 'Font Awesome 5 Free';
  opacity: 0.9;
}



// Projekt notifications

.admin .projekt-notification {
  position: relative;

  input[type='checkbox'] {
    display: none;
  }

  .edit-projekt-notification-form {
    display: none;
  }

  input:checked ~ .projekt-notification-content {
    display: none;
  }

  input:checked ~ .edit-projekt-notification-form {
    display: block;
  }
  
  .edit-projekt-notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .edit-projekt-notification::before {
    content: "\f044";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #004a83;
  }

  .delete-projekt-notification {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20px;
    height: 20px;
  }

  .delete-projekt-notification::before {
    content: "\f2ed";
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    color: #cc4b37;
  }
}

// Projekt page footer

.projekt-footer {
  margin-top: 5em;
}

#tab-activities .most-active-resources {
  .tabs-panel {
    padding: 0;
  }

  .all-projekt-resources-link {
    float: right;
    color: #CE003E;
    padding-top: 0.5rem;
  }
}
