#featured-proposals {
  margin-bottom: 1em;
}

.max-proposals-exceeded {
  margin-bottom: 1em;
  font-size: 0.875em;
}

.proposal-show .supports {
  padding: 0;

  .total-supports {
    font-weight: normal;
  }
}

// proposals form

.proposal-new {
  input[name='save_draft'] {
    background: $secondary;
    color: $brand;

    &:hover,
    &:focus {
      color: $white;
      background: $brand;
    }
  }
}
