// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.search-result{
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  .search-result-type-icon{
    font-size: 1.1em;
    background-color: #004a83;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-right: 10px;
    line-height: 25px;
    text-align: center;
    margin-top: 5px;
  }

  .search-result-title{
    font-size: 1.5rem;
    .hlt1{
      font-style: normal;
      font-weight: 600;
    }
  }
  .search-result-body{
    p{
      margin-bottom: 0;
    }
    .hlt1{
      font-style: normal;
      font-weight: 600;
      background-color: #ff0!important;
    }
  }
}
.big-search-label{
  width: 50%;
}
.search-modules{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  li{
    display: block;
    justify-content: flex-start;
    margin-right: 20px;
    &.selected{
      font-weight: 600;
    }
  }
}
