// Update styles of standard search form

#proposals,
#debates {
  #search_form {

    float: right;
    margin-right: 1em;

    .input-group {
      margin-bottom: 0;
    }

    input {
      height: 2.25rem !important;
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
    }

    .input-group-button {
      padding-bottom: 0;
    }

    .input-group-button button {
			background: #dee0e3;
			border: 1px solid #ccc;
			border-left: 0;
			color: #222;
			height: 2.25rem;
			line-height: 2.25rem;
			padding-top: 0;
    }
  }
}
