.ssb-whatsapp {
  background: #25D366;
  background-image: none !important;
  color: #fff;
  height: $line-height * 2 !important;
  position: relative;
  width: $line-height * 2 !important;

  &::before {
    content: "P";
    font-family: "icons" !important;
    font-size: rem-calc(24);
    left: 50%;
    line-height: $line-height * 2;
    margin-left: rem-calc(-11);
    position: absolute;
    top: 0;
  }

  &:hover,
  &:focus {
    background: #fff;
    color: #075E54;
  }
}

.ssb-email {
  background: red;
  background-image: none !important;
  color: #fff;
  height: $line-height * 2 !important;
  position: relative;
  width: $line-height * 2 !important;

  &::before {
    content: "L";
    font-family: "icons" !important;
    font-size: rem-calc(24);
    left: 50%;
    line-height: $line-height * 2;
    margin-left: rem-calc(-11);
    position: absolute;
    top: 0;
  }

  &:hover,
  &:focus {
    background: #fff;
    color: red;
  }
}

.share-supported {
  text-align: left;

  .social-share-button {
    display: inline;
  }

  .ssb-whatsapp, 
  .ssb-twitter, 
  .ssb-facebook, 
  .ssb-telegram,
  .ssb-email,
  .ssb-linkedin {
    width: $line-height * 1.4 !important;
  }
}

.custom-page .social-share-full .social-share-button {
  display: inline;
}

.featured-proposals {

  .share-supported {

    .ssb-whatsapp,
    .ssb-twitter,
    .ssb-facebook,
    .ssb-telegram,
    .ssb-email,
    .ssb-linkedin {
      background: none;
      color: $text;
      height: rem-calc(33) !important;


      &::before {
        font-size: rem-calc(18);
        line-height: rem-calc(33);
      }
    }

    .ssb-linkedin {
      &::before {
        content: url(linkedin-icon-black.svg);
        top: 1px;
        margin-left: -0.65rem;
      }
    }
  }
}

@include breakpoint(medium) {

  .button.button-telegram,
  .ssb-telegram {
    display: inline-block !important;
  }
}
