.ssb-whatsapp,
.ssb-facebook,
.ssb-twitter,
.ssb-telegram,
.ssb-linkedin,
.ssb-email {
  margin-bottom: 0.25rem;
  vertical-align: middle;
}



.ssb-whatsapp,
.ssb-linkedin,
.ssb-email {
  background-image: none !important;
  color: #fff;
  position: relative;
  height: $line-height * 2 !important;
  width: $line-height * 2 !important;
  vertical-align: middle;

  &::before {
    font-family: "icons" !important;
  }

  &:hover,
  &:focus {
    background: #fff;
    text-decoration: none;
  }
}


.ssb-whatsapp {
  background: #25D366;

  &::before {
    content: "P";
  }

  &:hover,
  &:focus {
    color: #075E54;
  }
}

.ssb-email {
  background: red;

  &::before {
    content: "L";
  }

  &:hover,
  &:focus {
    color: red;
  }
}

.ssb-linkedin {
  background: #0e76a8;

  &::before {
    content: '#';
  }
  &:hover,
  &:focus {
    color: #0e76a8;
  }
}

.share-supported {
  text-align: left;

  .social-share-button {
    display: inline;
  }

  .ssb-whatsapp, 
  .ssb-twitter, 
  .ssb-facebook, 
  .ssb-telegram,
  .ssb-email,
  .ssb-linkedin {
    width: $line-height * 1.4 !important;
  }
}

.custom-page .social-share-full .social-share-button {
  display: inline;
}

.featured-proposals {

  .share-supported {

    .ssb-whatsapp,
    .ssb-twitter,
    .ssb-facebook,
    .ssb-telegram,
    .ssb-email,
    .ssb-linkedin {
      background: none;
      color: $text;
      height: rem-calc(33) !important;


      &::before {
        font-size: rem-calc(18);
        line-height: rem-calc(33);
      }
    }

    .ssb-linkedin {
      &::before {
        content: url(linkedin-icon-black.svg);
        top: 1px;
        margin-left: -0.65rem;
      }
    }
  }
}

@include breakpoint(medium) {

  .button.button-telegram,
  .ssb-telegram {
    display: inline-block !important;
  }
}
