
// setup_project
// Tags

.tags a ,
.tag-cloud a,
.categories a,
.geozone a,
.sidebar-links a,
.tags span {
  background: #ececec;
  border-radius: rem-calc(6);
  color: $text;
  display: inline-block;
  font-size: $small-font-size;
  margin-bottom: $line-height / 3;
  padding: $line-height / 4 $line-height / 3;
  text-decoration: none;

  &:hover {
    background: #e0e0e0;
  }
  &.selected{
    background: $tagsbackgroundcolor;
    color: $tagstextcolor;
  }
}

.admin-tags-form {
  #tag_kind_category,

  [type='radio'] + label {
    margin-left: 0.25rem;
  }
}


  .tag-name-field [type='text'] {
    width: 90%;
  }
