// setup_project
// Tiles

.home-page,
.custom-page {
  .figure-card {
    figcaption {
      z-index: 3;
    }
    .gradient {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 1) 100%);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
}

.figure-card {
  display: flex;
  margin: 0 0 $line-height;
  overflow: hidden;
  position: relative;
  @include breakpoint(medium down) {
    min-height: $line-height * 4;
  }
  @include breakpoint(medium) {
    max-height: rem-calc(600);
  }
  @include breakpoint(large) {
    max-height: rem-calc(600);
  }
}