// Welcome page

.home-page {

  .background-header {
      display: none;
  }

  .jumbo {
  
    background-position: $welcomebgposition;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $welcomebgcolor;



    @media only screen and (max-width: 550px) {
      padding-top: 20px;
      padding-bottom: rem-calc(1);

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(35);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(25);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 550px) and (max-width: 639px) {
      padding-top: 20px;
      padding-bottom: rem-calc(1);

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        margin-top: 320px;
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: rem-calc(150);

      span {
        display: none;
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1280px) {
      height: 380px;
      background-position: $welcomebgposition;
      padding-top: $welcometextpositionmedium;
      
      span {
        color: $welcomespan;
        font-size: rem-calc(15);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(38);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1280px) and (max-width: 1900px) {
      height: 500px;
      background-position: $welcomebgposition;
      padding-top: $welcometextpositionmedium;

      span {
        color: $welcomespan;
        font-size: rem-calc(15);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }

    @media only screen and (min-width: 1900px) {
      height: 600px;
      background-position: $welcomebgposition;
      padding-top: $welcometextpositionlarge;

      span {
        color: $welcomespan;
        font-size: rem-calc(20);
        font-weight: 300;
        line-height: rem-calc(30);
      }

      h1 {
        color: $welcomeheadline;
        font-size: rem-calc(40);
        font-weight: 700;
        line-height: rem-calc(40);
      }

      .lead {
        color: $welcomelead;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $welcomebuttonbg;
        color: $welcomebuttontext;
      }
    }
  }
 }


// Homepage
@media only screen and (max-width: 550px) {
  .welcometitle {
    font-size: 25px;
    color: $welcometitle;
  }
}

@media only screen and (max-width: 1280px) {
  .welcometitle {
    font-size: 25px;
    color: $welcometitle;
  }
}

@media only screen and (min-width: 1280px) {
  .welcometitle {
    font-size: 30px;
    color: $welcometitle;
  }
}