// Welcome page

.home-page {

  background-color: #F4F4F4;

  .card-homepage {
    position: relative;

    img {
      position: relative;
      z-index: -1;
    }

    h3 {
      position: absolute;
      bottom: 5px;
      left: 25px;
      color: $white;
      text-decoration: none;
      font-weight: normal;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1rem;
    }

    a {
      background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 40%);
      display: inline-block;
    }
  }

  h3.title.card-title {
    border-bottom: none;
  }

  .background-header {
      display: none;
  }

  .jumbo {
  
    background-position: $welcomebgposition;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $welcomebgcolor;
    position: relative;
		height: 285px;
 
    .jumbo-message {
      position: absolute;
      bottom: 10%;
      max-width: 40rem;
    }

		h1 {
			font-size: rem-calc(30);
			font-weight: 700;
			line-height: rem-calc(40);
		}

    h1, p {
      color: $white;
    }

    p {
      display: none;
    }

    @media only screen and (min-width: 550px) {
      p {
        display: block;
      }
    }

    @media only screen and (min-width: 640px) {
    }

    @media only screen and (min-width: 768px) {
      height: 380px;
      
      h1 {
        font-size: rem-calc(40);
      }
    }

    @media only screen and (min-width: 1280px) {
      height: 500px;
    }

    @media only screen and (min-width: 1900px) {
      height: 600px;
    }
  }
}
