<div class="tabs-panel is-active" id="tab-activities">


  <div class="row">
    <div class="column">
      <div class="map inline">
        <%= render_map(@custom_page.projekt.map_location, "proposals", false, nil, @proposals_coordinates) %>
      </div>

      <div class='expand-proposals-overview-map small js-expand-proposals-overview-map'>
        <%= t('custom.proposals.index.show_larger_map') %>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="no-bullet margin-top">
  </div>

  <%= render Widget::Feeds::ParticipationComponent.new(@feeds) %>

</div>
