<%= render 'shared/loader_spinner' %>

<% if @current_projekt.question_phase.phase_activated? %>
  <div class="projekt-questions-container js-projekt-questions-container">
    <% if @current_projekt.projekt_list_enabled? %>
      <%= render "custom/projekts/partials/projekt_question_list", projekt: @current_projekt, projekt_questions: @projekt_questions %>
    <% else %>
      <%= render "custom/projekts/partials/projekt_question", projekt: @current_projekt, projekt_question: @projekt_question, projekt_question_answer: @projekt_question_answer %>
    <% end %>
  </div>
<% else %>
  <div class='callout alert'>
    Die Phase ist nicht aktiviert
  </div>
<% end %>
