<h2><%= t("custom.admin.settings.index.extended_features") %></h2>

<%= render "extended_features_table", features: @extended_feature_settings, options: @extended_option_settings, tab: "#tab-extended-features" %>
