<div class='projekt_group' id="group-for-<%= parent_id %>" >
  <% projekts.each do |projekt| %>
    <%= render partial: 'shared/projekt_selector/projekt', locals: { projekt: projekt } %>
  <% end %>
</div>
