<div class="sdg-goal-tag-cloud sdg-tag-list margin-top">
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title"><%= heading %></h2>
  <%= render SDG::FilterLinksComponent.new(goals, class_name.constantize) %>

  <% if selected_goals.any? %>
    <div class="filter margin-top">
      <%= select_tag("select_target", target_options,
                    include_blank: t("custom.sdg.targets.select"), class: 'js-sdg-custom-target-filter-dropdown')  %>
    </div>
  <% end %>
</div
