<div class='projekt-name'>
  <%= link_to_projekt_page(proposal.projekt) %>
</div>

<div class='show-for-large'>
  <% unless proposal.author.name.blank? %>
    <%= t('custom.proposals.index.proposal.by') %>
    <%= link_to proposal.author.name, proposal.author %>
  <% end%>
</div>

<%= render partial: "proposals/proposal/participation_label", locals: { proposal: proposal } %>
