<% show_geozone = ( selected_geozones.any? && !selected_geozones.include?(geozone.id) ) ? 'hide' : '' %>

<li <%= "class=#{show_geozone}" %>>
  <%= label_tag "#{geozone.name}-#{filter_block}", class: 'label_class' do %>
    <%= check_box_tag "#{geozone.name}-#{filter_block}", geozone.id, selected_geozones.include?(geozone.id), { class: 'js-filter-geozones' }  %>
    <%= geozone.name %>
    <span class="checkmark"></span>
  <% end %>
</li>
