<ul class="tabs"
    id="edit-projekt-tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>
  <li class="tabs-title is-active">
    <%= link_to "#tab-projekt-configuration" do %>
      <%= t("custom.admin.projekts.edit.projekt_phases_tab.name") %>
    <% end %>
  </li>

  <li class="tabs-title" id="projekts-settings-tab">
    <%= link_to "#tab-projekts-settings" do %>
      <%= t("custom.admin.projekts.edit.projekt_settings_tab.name") %>
    <% end %>
  </li>
</ul>
