<% provide :title do %>
  <%= "#{t("admin.header.title")} - #{t("admin.progress_bars.index.title")}" %>
<% end %>

<%= back_link_to progressable_path %>

<div class="clear"></div>

<%= render "admin/projekts/edit/projekt_progress_bars/progress_bars", progressable: @progressable %>
