<ul class="projekt-list-tabs no-bullet submenu order-links">
  <% ['all', 'active', 'ongoing', 'upcoming', 'expired'].each do |order| %>
    <% unless @projekts_count_hash[order].zero? %>
      <li class="inline-block">
        <%= link_to link_path(order),
          class: html_class(order),
          title: title_for(order),
          remote: (controller_name == 'pages'),
          onclick: (controller_name == 'pages' ? '$(".spinner-placeholder").addClass("show-loader")' : '') do %>
          <%= content_tag tag_name(order), link_text(order) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
