<div class="sidebar-divider hide-for-small-only"></div>

<h2 class="sidebar-title hide-for-small-only"><%= t("custom.projekt.page.sidebar.phases.title") %></h2>

<div class='sidebar-projekt-phases'>

  <span class='sidebar-projekt-phases-title'>Offen für Beteiligung!</span>

  <% @phases.each do |phase| %>
    <div class="sidebar-projekt-phase <%= 'active' if phase.current? %>">
      <div class='sidebar-projekt-phase-status'>
      </div>
      <div class='sidebar-projekt-phase-details'>
        <span class='sidebar-projekt-phase-name'>
          <%= phase_name(phase) %>
          <i class="fas fa-long-arrow-alt-right"></i>
        </span>
        <span class='sidebar-projekt-phase-duration'><%= format_date_range(phase.start_date, phase.end_date) %></span>
      </div>
    </div>
  <% end %>
</div>
