<% if current_page.projekt.parent.present? %>
  <%= render partial: 'breadcrumbs', locals: { current_page: current_page.projekt.parent.page } %>
  <% if current_page.projekt.parent.page.status == 'published' %>
    <div class='breadcrumbs-item breadcrumbs-item-active'>
      <%= link_to current_page.projekt.parent.name, current_page.projekt.parent.page.url %>
    </div>
  <% else %>
    <div class='breadcrumbs-item'>
      <%= current_page.projekt.parent.name %>
    </div>
  <% end %>
  <div class='breadcrumbs-divider'>
    <%= " / " %>
  </div>
<% end %>
