<% if (phase_name && projekt_phase_active?(projekt, phase_name)) || !projekt_feature?(projekt, 'general.show_not_active_phases_in_projekts_page_sidebar') || controller.controller_name == 'polls' %>
  <div class="checkmark-wrapper">
    <span class="checkmark "></span>
  </div>
<% end %>
