// brand_color
$brand:                                           #004a83 !default;
$brand-secondary:                                 #002d50 !default;
$secondary:                                       lighten($brand, 70%);
$accent:                                          lighten($brand, 50%);
$dark:                                            darken($brand, 10%);


// Menu variables

$dark:                                            #222;
$white:                                           #fff;


$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $brand;
$flyout-item-text-color:                          $dark;
$flyout-item-bg-color:                            $white;

$flyout-block-border-color:                       $border;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);
$flyout-item-projekt-modules-links-color:         $flyout-item-text-color;


$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $dark;
$responsive-menu-background-color:                $white;

$module-index-panel-background:                   lighten($brand, 70%);




//  Review these variables
$tagsbackgroundcolor:         lighten($brand, 65%);
$tagstextcolor:               $brand;
$welcomebgposition:           top;
$welcomebgcolor:              $white;
$welcomeheadline:             $white;
$welcomelead:                 $white;
$welcomebuttonbg:             $brand;
$welcomebuttontext:           $white;
$welcometitle:                $brand;
$dropdownbackground:          $white;
$dropdowntextcolor:           $black;
$welcometextpositionmedium:   rem-calc(20);
$welcometextpositionlarge:    rem-calc(25); 
$welcomespan:                 $brand;



// fonts
@import "custom_fonts";
