// brand_color
$brand:                                           #004a83;
$secondary:                                       lighten($brand, 70%);
$accent:                                          lighten($brand, 50%);
$dark:                                            darken($brand, 10%);


// Menu variables

$dark:                                            #222;
$white:                                           #fff;


$top-level-menu-item-text-color:                  $white;
$top-level-menu-background-color:                 $brand;
$flyout-item-text-color:                          $white;
$flyout-item-bg-color:                            $brand;

$flyout-block-border-color:                       #dee0e3;
$flyout-item-divider-color:                       lighten($flyout-block-border-color, 5%);
$flyout-item-projekt-modules-links-color:         $flyout-item-text-color;


$flyout-item-line-height:                         1.5rem;
$flyout-item-projekt-min-height:                  60px;

$responsive-menu-text-color:                      $dark;
$responsive-menu-background-color:                $white;

$module-index-panel-background:                   lighten($brand, 70%);




//  Review these variables
$tagsbackgroundcolor:         lighten($brand, 65%);
$tagstextcolor:               $brand;
$welcomebgposition:           top;
$welcomebgcolor:              $white;
$welcomeheadline:             $white;
$welcomelead:                 $white;
$welcomebuttonbg:             $brand;
$welcomebuttontext:           $white;
$welcometitle:                $brand;
$dropdownbackground:          $white;
$dropdowntextcolor:           $black;
$welcometextpositionmedium:   rem-calc(20);
$welcometextpositionlarge:    rem-calc(25); 
$welcomespan:                 $brand;



// fonts
$body-font-family: 'sourcesanspro-regular-webfont', 'sourcesanspro-bold-webfont', 'PT_Serif_Web-Regular', sans-serif !important;
$header-font-family: 'sourcesanspro-regular-webfont', 'sourcesanspro-bold-webfont', 'PT_Serif_Web-Regular', sans-serif !important;
$base-font-size:      16px;

// Regular 
@font-face {
  font-family: "sourcesanspro-regular-webfont";
  src: font-url("sourcesanspro-regular-webfont.ttf") format("ttf"), font-url("custom/DMSans-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
// Bold 
@font-face {
  font-family: "sourcesanspro-bold-webfont";
  src: font-url("sourcesanspro-bold-webfont.ttf") format("ttf"), font-url("custom/DMSans-Bold.ttf") format("ttf");
  font-weight: 100;
  font-style: bold; }
// Fallback
@font-face {
  font-family: "PT_Serif_Web-Regular";
  src: font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf"), font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
