// fonts
//  Regular 
@font-face {
  font-family: "MinionPro-Regular";
  src: font-url("custom/MinionPro-Regular.ttf") format("ttf"), font-url("custom/MinionPro-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
//  Bold 
@font-face {
  font-family: "MyriadPro-BoldIt";
  src: font-url("custom/MyriadPro-BoldIt.ttf") format("ttf"), font-url("custom/MyriadPro-BoldIt.ttf") format("ttf");
  font-weight: 100;
  font-style: bold; }
// PT Serif Web Regular
@font-face {
  font-family: "PT Serif Web Regular";
  src: font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf"), font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
