// fonts

// DM Sans Regular 
@font-face {
  font-family: "DM Sans Regular";
  src: font-url("custom/DMSans-Regular.ttf") format("ttf"), font-url("custom/DMSans-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }

// DM Sans Bold 
@font-face {
  font-family: "DM Sans Bold";
  src: font-url("custom/DMSans-Bold.ttf") format("ttf"), font-url("custom/DMSans-Bold.ttf") format("ttf");
  font-weight: 100;
  font-style: bold; }

// PT Serif Web Regular
@font-face {
  font-family: "PT Serif Web Regular";
  src: font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf"), font-url("custom/PT_Serif_Web-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
