@import 'custom_fonts';

// Supporter Box Bugfix
.topless {
    @include breakpoint(small) {
      top: auto !important;
      }
    @include breakpoint(medium) {
    top: 0px !important;
    }
  }
@import "custom/_welcome";
@import "custom/layout";

// Dropdown
.main-nav,
.drop-nav {
  background: $brand;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
  padding: 0px 10px 0px 10px;
  z-index: 1000;
}
/* .dropdown:after {
  content: "\25BC";
  color: #fff;
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
} */
.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
  z-index: 1000;
}
// width of the list items
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 200px;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: $brand;
}
#alert {
  z-index: 1000;
  position: absolute;
}
#notice {
  z-index: 1000;
  position: absolute;
}
.subnavigation {
  background: $white;
}
a {
  @include breakpoint(medium) {
      color: $brand;
  }
}
.welcometitle {
  color: $brand;
}
