<main class="budget-investment-new">
  <%= budgets_back_link_path %>

  <%= header %>

  <aside>
    <%= helpers.render_custom_block 'budget_investments_creation_recommendations' %>
  </aside>


  <%= render "/budgets/investments/form", form_url: budget_investments_path(budget) %>
</main>
