<div class="row">
  <div id="proposal_notifications" class="small-12 column notification-body">
    <%= render Shared::OrderLinksComponent.new("custom.projekts.projekt_events", anchor: "tab-comments") %>

    <% if projekt_events.blank? %>
      <div class="callout primary text-center">
        <%= t("custom.projekts.page.projekt_events_tab.no_events") %>
      </div>
    <% else  %>
      <% projekt_events.each do |event| %>
        <%= render Projekts::ProjektEvents::ListItem.new(projekt_event: event) %>
      <% end %>
    <% end %>
  </div>
</div>
