<%if categories.buckets.any? %>
  <div id="tag-cloud">
    <p></p>
    <div class="sidebar-divider"></div>
    <h2 class="sidebar-title"><%= t("shared.tags_cloud.categories") %></h2>
    <br>
    <ul class="no-bullet tag-cloud">
      <%categories.buckets.sort{|a, b| a["key"] <=> b["key"] }.each do |aggr| %>
        <li class="inline-block">
          <% tag_name = params[:tag] == aggr["key"] ? nil :  aggr["key"] %>
          <%= link_to url_for({tag: tag_name, q: params[:q], section: params[:section]}), class: params[:tag] == aggr["key"] ? "selected" : "" do %>
            <span class="tag"><%= "#{aggr["key"]} (#{aggr&.doc_count})" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<%end%>