<p>This website goes live on <%= "#{Setting["extended_option.general.launch_date"] }" %></p>

<p> If you are an administrator you can login by following this link: <%= link_to 'Sign in', new_user_session_path %></p>
