<%if @categories.any? && extended_feature?("enable_categories") %>
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title projekt-tag-chip-category projekt-tag-chip-icon"><%= t("shared.tags_cloud.categories") %></h2>
  <br>

  <ul id="categories" class="no-bullet categories">
    <% selected_categories = params[:tags] ? params[:tags].split(',') : []%>
    <% @categories.each do |category| %>
      <li class="inline-block">
        <% selected_categories.include?(category.name) ? css_class = { class: "is-active js-projekt-tag-filter-link" } : css_class = { class: "js-projekt-tag-filter-link" }  %>
        <%= link_to taggables_path(taggable, category.name), css_class do %>
          <span class="tag"><%= category.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<%end%>
