<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("shared.tags_cloud.projekts") %></h2>
<br>

<div id='filter-projekts'>
  <%= render "shared/projekts_filter" %>

  <%= link_to t('custom.projekts.sidebar_filter.filter_button'), '#', class: 'js-apply-projekts-filter filter-projekts-button' %>
</div>
