<div class="help-header">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <%= image_tag "help/help_icon_#{image}.png", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top" %>
      <h1 class="inline-block"><%= t("custom.deficiency_reports.index.section_header.title") %></h1>
    </div>
  </div>
</div>
