<ul class="nav-flyout-block">
  <% projekts.each do |projekt| %>
    <li class='nav-element flyout-item flyout-item-projekt'>

      <div class='projekt-name-group'>
        <div class='flyout-item-name projekt-name'>
          <%= prepare_projekt_name(projekt) %>
        </div>

        <% if projekt.children.any? %>
          <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'>
          </div>
        <% end %>
      </div>

      <% if Setting["projekts.show_module_links_in_flyout_menu"].present? %>
        <div class='projekt-modules-links'>
          <%= prepare_projekt_modules_links(projekt) %>
        </div>
      <% end %>

      
      <%= render partial: 'shared/subnavigation_flyout_projekts', locals: { projekts: projekt.children.with_order_number } if projekt.children.any? %>
    </li>
  <% end %>
</ul>

