<%if @tag_cloud.tags.any? && extended_feature?("enable_custom_tags") %>
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title projekt-tag-chip-tag projekt-tag-chip-icon"><%= t("shared.tags_cloud.tags") %></h2>
  <br>
  <ul class="no-bullet categories">
    <% selected_tags = params[:tags] ? params[:tags].split(',') : [] %>
    <% @tag_cloud.tags.each do |tag| %>
      <li class="inline-block">
        <% selected_tags.include?(tag.name) ? css_class = { class: "is-active js-projekt-tag-filter-link" } : css_class = { class: "js-projekt-tag-filter-link" } %>
        <%= link_to taggables_path(taggable, tag.name), css_class do %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<%end%>
