<% limit ||= nil %>

<%= render Shared::TagListComponent.new(taggable, limit: limit) %>
<%= render SDG::TagListComponent.new(taggable, limit: limit) %>

<!--
<div class='tag-list'>

  <%# if projekt_feature?(taggable&.projekt, 'general.enable_tags') && taggable.tags.category.any? %>
    <%# taggable.tags.category.each do |category| %>
      <%# active_projekt_class = params[:tags]&.split(",")&.include?(category.name) ? active_projekt_class = 'filtered-projekt' : active_projekt_class = '' %>
      <div class="projekt-tag-chip">
        <%#= link_to sanitize(category.name), taggables_path(taggable.class.name.underscore, category.name), class: "#{tag_filter_class} projekt-tag-chip-icon projekt-tag-chip-category #{active_projekt_class}" %></li>
      </div>
    <%# end %>
  <%# end %>
</div>
-->
