<%- limit ||= nil %>

<% params[:projekts].present? ? filtered_projekt_ids = params[:projekts].split(',') : filtered_projekt_ids = [] %>

<% if taggable.projekts.any? %>
  <div class="taggable_projekts">
    <% taggable.projekts.each do |projekt| %>
      <% projekt.id.to_s.in?(filtered_projekt_ids) ? filtered_projekt_class = 'filtered-projekt' : filtered_projekt_class = ''  %>
      <div class="projekt-chip <%= filtered_projekt_class %>">
        <%= link_to sanitize(projekt.name), (taggables_path(taggable.class.name.underscore, '') + "&projekts=#{projekt.id}" ), class: 'js-projekt-tag-filter-link' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if taggable.tags.category.any? %>
  <ul id="tags_<%= dom_id(taggable) %>" class="no-bullet tags">
    <% taggable.tags.category.each do |tag| %>
      <%-selected = params[:tags]&.split(",")&.include?(tag.name)%>
      <li class="inline-block">
        <%= link_to sanitize(tag.name),
          taggables_path(taggable.class.name.underscore, tag.name), class: selected ? "selected js-projekt-tag-filter-link" : "js-projekt-tag-filter-link" %></li>
    <% end %>

  </ul>
<% end %>
