<%= f.hidden_field :projekt_id %>

<div class='selector-fields'>
  <div class='first-column'>
    <% @projekts.each do |projekt|  %>
      <%= render partial: 'shared/projekt_selector_new/projekt', locals: { projekt: projekt } %>
    <% end %>
  </div>

  <i class="fas fa-chevron-right"></i>

  <div class='second-column'>
    <% @projekts.each do |projekt|  %>
      <div class='projekt_group'>
        <% projekt.children.each do |projekt| %>
          <%= render partial: 'shared/projekt_selector_new/projekt', locals: { projekt: projekt } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <i class="fas fa-chevron-right"></i>

  <div class='second-column'>
    <% @projekts.each do |projekt|  %>
      <% projekt.children.each do |projekt| %>
        <% projekt.children.each do |projekt| %>
          <div class='projekt_group'>
            <%= render partial: 'shared/projekt_selector_new/projekt', locals: { projekt: projekt } %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
